@import "variables";

:root {
  --cr-brand: #{$cr-brand};

  --cr-brand-light-10: #{$cr-brand-light-10};
  --cr-brand-light-20: #{$cr-brand-light-20};
  --cr-brand-light-30: #{$cr-brand-light-30};
  --cr-brand-light-40: #{$cr-brand-light-40};
  --cr-brand-light-50: #{$cr-brand-light-50};
  --cr-brand-light-60: #{$cr-brand-light-60};
  --cr-brand-light-70: #{$cr-brand-light-70};
  --cr-brand-light-80: #{$cr-brand-light-80};
  --cr-brand-light-90: #{$cr-brand-light-90};
  --cr-brand-light-100: #{$cr-brand-light-100};

  --cr-brand-tone-10: #{$cr-brand-tone-10};
  --cr-brand-tone-20: #{$cr-brand-tone-20};
  --cr-brand-tone-30: #{$cr-brand-tone-30};
  --cr-brand-tone-40: #{$cr-brand-tone-40};
  --cr-brand-tone-50: #{$cr-brand-tone-50};
  --cr-brand-tone-60: #{$cr-brand-tone-60};
  --cr-brand-tone-70: #{$cr-brand-tone-70};
  --cr-brand-tone-80: #{$cr-brand-tone-80};
  --cr-brand-tone-90: #{$cr-brand-tone-90};
  --cr-brand-tone-100: #{$cr-brand-tone-100};

  --cr-brand-dark-10: #{$cr-brand-dark-10};
  --cr-brand-dark-20: #{$cr-brand-dark-20};
  --cr-brand-dark-30: #{$cr-brand-dark-30};
  --cr-brand-dark-40: #{$cr-brand-dark-40};
  --cr-brand-dark-50: #{$cr-brand-dark-50};
  --cr-brand-dark-60: #{$cr-brand-dark-60};
  --cr-brand-dark-70: #{$cr-brand-dark-70};
  --cr-brand-dark-80: #{$cr-brand-dark-80};
  --cr-brand-dark-90: #{$cr-brand-dark-90};
  --cr-brand-dark-100: #{$cr-brand-dark-100};
}
