@import "variables";

:root {
  --cr-brand: #{$cr-brand};

  --cr-brand-light-5: #{$cr-brand-light-5};
  --cr-brand-light-10: #{$cr-brand-light-10};
  --cr-brand-light-15: #{$cr-brand-light-15};
  --cr-brand-light-20: #{$cr-brand-light-20};
  --cr-brand-light-25: #{$cr-brand-light-25};
  --cr-brand-light-30: #{$cr-brand-light-30};
  --cr-brand-light-35: #{$cr-brand-light-35};
  --cr-brand-light-40: #{$cr-brand-light-40};
  --cr-brand-light-45: #{$cr-brand-light-45};
  --cr-brand-light-50: #{$cr-brand-light-50};
  --cr-brand-light-55: #{$cr-brand-light-55};
  --cr-brand-light-60: #{$cr-brand-light-60};
  --cr-brand-light-65: #{$cr-brand-light-65};
  --cr-brand-light-70: #{$cr-brand-light-70};
  --cr-brand-light-75: #{$cr-brand-light-75};
  --cr-brand-light-80: #{$cr-brand-light-80};
  --cr-brand-light-85: #{$cr-brand-light-85};
  --cr-brand-light-90: #{$cr-brand-light-90};
  --cr-brand-light-95: #{$cr-brand-light-95};
  --cr-brand-light-100: #{$cr-brand-light-100};

  --cr-brand-tone-5: #{$cr-brand-tone-5};
  --cr-brand-tone-10: #{$cr-brand-tone-10};
  --cr-brand-tone-15: #{$cr-brand-tone-15};
  --cr-brand-tone-20: #{$cr-brand-tone-20};
  --cr-brand-tone-25: #{$cr-brand-tone-25};
  --cr-brand-tone-30: #{$cr-brand-tone-30};
  --cr-brand-tone-35: #{$cr-brand-tone-35};
  --cr-brand-tone-40: #{$cr-brand-tone-40};
  --cr-brand-tone-45: #{$cr-brand-tone-45};
  --cr-brand-tone-50: #{$cr-brand-tone-50};
  --cr-brand-tone-55: #{$cr-brand-tone-55};
  --cr-brand-tone-60: #{$cr-brand-tone-60};
  --cr-brand-tone-65: #{$cr-brand-tone-65};
  --cr-brand-tone-70: #{$cr-brand-tone-70};
  --cr-brand-tone-75: #{$cr-brand-tone-75};
  --cr-brand-tone-80: #{$cr-brand-tone-80};
  --cr-brand-tone-85: #{$cr-brand-tone-85};
  --cr-brand-tone-90: #{$cr-brand-tone-90};
  --cr-brand-tone-95: #{$cr-brand-tone-95};
  --cr-brand-tone-100: #{$cr-brand-tone-100};

  --cr-brand-dark-5: #{$cr-brand-dark-5};
  --cr-brand-dark-10: #{$cr-brand-dark-10};
  --cr-brand-dark-15: #{$cr-brand-dark-15};
  --cr-brand-dark-20: #{$cr-brand-dark-20};
  --cr-brand-dark-25: #{$cr-brand-dark-25};
  --cr-brand-dark-30: #{$cr-brand-dark-30};
  --cr-brand-dark-35: #{$cr-brand-dark-35};
  --cr-brand-dark-40: #{$cr-brand-dark-40};
  --cr-brand-dark-45: #{$cr-brand-dark-45};
  --cr-brand-dark-50: #{$cr-brand-dark-50};
  --cr-brand-dark-55: #{$cr-brand-dark-55};
  --cr-brand-dark-60: #{$cr-brand-dark-60};
  --cr-brand-dark-65: #{$cr-brand-dark-65};
  --cr-brand-dark-70: #{$cr-brand-dark-70};
  --cr-brand-dark-75: #{$cr-brand-dark-75};
  --cr-brand-dark-80: #{$cr-brand-dark-80};
  --cr-brand-dark-85: #{$cr-brand-dark-85};
  --cr-brand-dark-90: #{$cr-brand-dark-90};
  --cr-brand-dark-95: #{$cr-brand-dark-95};
  --cr-brand-dark-100: #{$cr-brand-dark-100};
}
