@import "variables";

:root {
  --cr-primary: #{$cr-primary};

  --cr-primary-light-10: #{$cr-primary-light-10};
  --cr-primary-light-20: #{$cr-primary-light-20};
  --cr-primary-light-30: #{$cr-primary-light-30};
  --cr-primary-light-40: #{$cr-primary-light-40};
  --cr-primary-light-50: #{$cr-primary-light-50};
  --cr-primary-light-60: #{$cr-primary-light-60};
  --cr-primary-light-70: #{$cr-primary-light-70};
  --cr-primary-light-80: #{$cr-primary-light-80};
  --cr-primary-light-90: #{$cr-primary-light-90};
  --cr-primary-light-100: #{$cr-primary-light-100};

  --cr-primary-tone-10: #{$cr-primary-tone-10};
  --cr-primary-tone-20: #{$cr-primary-tone-20};
  --cr-primary-tone-30: #{$cr-primary-tone-30};
  --cr-primary-tone-40: #{$cr-primary-tone-40};
  --cr-primary-tone-50: #{$cr-primary-tone-50};
  --cr-primary-tone-60: #{$cr-primary-tone-60};
  --cr-primary-tone-70: #{$cr-primary-tone-70};
  --cr-primary-tone-80: #{$cr-primary-tone-80};
  --cr-primary-tone-90: #{$cr-primary-tone-90};
  --cr-primary-tone-100: #{$cr-primary-tone-100};

  --cr-primary-dark-10: #{$cr-primary-dark-10};
  --cr-primary-dark-20: #{$cr-primary-dark-20};
  --cr-primary-dark-30: #{$cr-primary-dark-30};
  --cr-primary-dark-40: #{$cr-primary-dark-40};
  --cr-primary-dark-50: #{$cr-primary-dark-50};
  --cr-primary-dark-60: #{$cr-primary-dark-60};
  --cr-primary-dark-70: #{$cr-primary-dark-70};
  --cr-primary-dark-80: #{$cr-primary-dark-80};
  --cr-primary-dark-90: #{$cr-primary-dark-90};
  --cr-primary-dark-100: #{$cr-primary-dark-100};
}
