@import "variables";

:root {
  --cr-primary: #{$cr-primary};

  --cr-primary-light-5: #{$cr-primary-light-5};
  --cr-primary-light-10: #{$cr-primary-light-10};
  --cr-primary-light-15: #{$cr-primary-light-15};
  --cr-primary-light-20: #{$cr-primary-light-20};
  --cr-primary-light-25: #{$cr-primary-light-25};
  --cr-primary-light-30: #{$cr-primary-light-30};
  --cr-primary-light-35: #{$cr-primary-light-35};
  --cr-primary-light-40: #{$cr-primary-light-40};
  --cr-primary-light-45: #{$cr-primary-light-45};
  --cr-primary-light-50: #{$cr-primary-light-50};
  --cr-primary-light-55: #{$cr-primary-light-55};
  --cr-primary-light-60: #{$cr-primary-light-60};
  --cr-primary-light-65: #{$cr-primary-light-65};
  --cr-primary-light-70: #{$cr-primary-light-70};
  --cr-primary-light-75: #{$cr-primary-light-75};
  --cr-primary-light-80: #{$cr-primary-light-80};
  --cr-primary-light-85: #{$cr-primary-light-85};
  --cr-primary-light-90: #{$cr-primary-light-90};
  --cr-primary-light-95: #{$cr-primary-light-95};
  --cr-primary-light-100: #{$cr-primary-light-100};

  --cr-primary-tone-5: #{$cr-primary-tone-5};
  --cr-primary-tone-10: #{$cr-primary-tone-10};
  --cr-primary-tone-15: #{$cr-primary-tone-15};
  --cr-primary-tone-20: #{$cr-primary-tone-20};
  --cr-primary-tone-25: #{$cr-primary-tone-25};
  --cr-primary-tone-30: #{$cr-primary-tone-30};
  --cr-primary-tone-35: #{$cr-primary-tone-35};
  --cr-primary-tone-40: #{$cr-primary-tone-40};
  --cr-primary-tone-45: #{$cr-primary-tone-45};
  --cr-primary-tone-50: #{$cr-primary-tone-50};
  --cr-primary-tone-55: #{$cr-primary-tone-55};
  --cr-primary-tone-60: #{$cr-primary-tone-60};
  --cr-primary-tone-65: #{$cr-primary-tone-65};
  --cr-primary-tone-70: #{$cr-primary-tone-70};
  --cr-primary-tone-75: #{$cr-primary-tone-75};
  --cr-primary-tone-80: #{$cr-primary-tone-80};
  --cr-primary-tone-85: #{$cr-primary-tone-85};
  --cr-primary-tone-90: #{$cr-primary-tone-90};
  --cr-primary-tone-95: #{$cr-primary-tone-95};
  --cr-primary-tone-100: #{$cr-primary-tone-100};

  --cr-primary-dark-5: #{$cr-primary-dark-5};
  --cr-primary-dark-10: #{$cr-primary-dark-10};
  --cr-primary-dark-15: #{$cr-primary-dark-15};
  --cr-primary-dark-20: #{$cr-primary-dark-20};
  --cr-primary-dark-25: #{$cr-primary-dark-25};
  --cr-primary-dark-30: #{$cr-primary-dark-30};
  --cr-primary-dark-35: #{$cr-primary-dark-35};
  --cr-primary-dark-40: #{$cr-primary-dark-40};
  --cr-primary-dark-45: #{$cr-primary-dark-45};
  --cr-primary-dark-50: #{$cr-primary-dark-50};
  --cr-primary-dark-55: #{$cr-primary-dark-55};
  --cr-primary-dark-60: #{$cr-primary-dark-60};
  --cr-primary-dark-65: #{$cr-primary-dark-65};
  --cr-primary-dark-70: #{$cr-primary-dark-70};
  --cr-primary-dark-75: #{$cr-primary-dark-75};
  --cr-primary-dark-80: #{$cr-primary-dark-80};
  --cr-primary-dark-85: #{$cr-primary-dark-85};
  --cr-primary-dark-90: #{$cr-primary-dark-90};
  --cr-primary-dark-95: #{$cr-primary-dark-95};
  --cr-primary-dark-100: #{$cr-primary-dark-100};
}
