@import "variables";

:root {
  --cr-quaternary: #{$cr-quaternary};

  --cr-quaternary-light-5: #{$cr-quaternary-light-5};
  --cr-quaternary-light-10: #{$cr-quaternary-light-10};
  --cr-quaternary-light-15: #{$cr-quaternary-light-15};
  --cr-quaternary-light-20: #{$cr-quaternary-light-20};
  --cr-quaternary-light-25: #{$cr-quaternary-light-25};
  --cr-quaternary-light-30: #{$cr-quaternary-light-30};
  --cr-quaternary-light-35: #{$cr-quaternary-light-35};
  --cr-quaternary-light-40: #{$cr-quaternary-light-40};
  --cr-quaternary-light-45: #{$cr-quaternary-light-45};
  --cr-quaternary-light-50: #{$cr-quaternary-light-50};
  --cr-quaternary-light-55: #{$cr-quaternary-light-55};
  --cr-quaternary-light-60: #{$cr-quaternary-light-60};
  --cr-quaternary-light-65: #{$cr-quaternary-light-65};
  --cr-quaternary-light-70: #{$cr-quaternary-light-70};
  --cr-quaternary-light-75: #{$cr-quaternary-light-75};
  --cr-quaternary-light-80: #{$cr-quaternary-light-80};
  --cr-quaternary-light-85: #{$cr-quaternary-light-85};
  --cr-quaternary-light-90: #{$cr-quaternary-light-90};
  --cr-quaternary-light-95: #{$cr-quaternary-light-95};
  --cr-quaternary-light-100: #{$cr-quaternary-light-100};

  --cr-quaternary-tone-5: #{$cr-quaternary-tone-5};
  --cr-quaternary-tone-10: #{$cr-quaternary-tone-10};
  --cr-quaternary-tone-15: #{$cr-quaternary-tone-15};
  --cr-quaternary-tone-20: #{$cr-quaternary-tone-20};
  --cr-quaternary-tone-25: #{$cr-quaternary-tone-25};
  --cr-quaternary-tone-30: #{$cr-quaternary-tone-30};
  --cr-quaternary-tone-35: #{$cr-quaternary-tone-35};
  --cr-quaternary-tone-40: #{$cr-quaternary-tone-40};
  --cr-quaternary-tone-45: #{$cr-quaternary-tone-45};
  --cr-quaternary-tone-50: #{$cr-quaternary-tone-50};
  --cr-quaternary-tone-55: #{$cr-quaternary-tone-55};
  --cr-quaternary-tone-60: #{$cr-quaternary-tone-60};
  --cr-quaternary-tone-65: #{$cr-quaternary-tone-65};
  --cr-quaternary-tone-70: #{$cr-quaternary-tone-70};
  --cr-quaternary-tone-75: #{$cr-quaternary-tone-75};
  --cr-quaternary-tone-80: #{$cr-quaternary-tone-80};
  --cr-quaternary-tone-85: #{$cr-quaternary-tone-85};
  --cr-quaternary-tone-90: #{$cr-quaternary-tone-90};
  --cr-quaternary-tone-95: #{$cr-quaternary-tone-95};
  --cr-quaternary-tone-100: #{$cr-quaternary-tone-100};

  --cr-quaternary-dark-5: #{$cr-quaternary-dark-5};
  --cr-quaternary-dark-10: #{$cr-quaternary-dark-10};
  --cr-quaternary-dark-15: #{$cr-quaternary-dark-15};
  --cr-quaternary-dark-20: #{$cr-quaternary-dark-20};
  --cr-quaternary-dark-25: #{$cr-quaternary-dark-25};
  --cr-quaternary-dark-30: #{$cr-quaternary-dark-30};
  --cr-quaternary-dark-35: #{$cr-quaternary-dark-35};
  --cr-quaternary-dark-40: #{$cr-quaternary-dark-40};
  --cr-quaternary-dark-45: #{$cr-quaternary-dark-45};
  --cr-quaternary-dark-50: #{$cr-quaternary-dark-50};
  --cr-quaternary-dark-55: #{$cr-quaternary-dark-55};
  --cr-quaternary-dark-60: #{$cr-quaternary-dark-60};
  --cr-quaternary-dark-65: #{$cr-quaternary-dark-65};
  --cr-quaternary-dark-70: #{$cr-quaternary-dark-70};
  --cr-quaternary-dark-75: #{$cr-quaternary-dark-75};
  --cr-quaternary-dark-80: #{$cr-quaternary-dark-80};
  --cr-quaternary-dark-85: #{$cr-quaternary-dark-85};
  --cr-quaternary-dark-90: #{$cr-quaternary-dark-90};
  --cr-quaternary-dark-95: #{$cr-quaternary-dark-95};
  --cr-quaternary-dark-100: #{$cr-quaternary-dark-100};
}
