@import "variables";

:root {
  --cr-quaternary: #{$cr-quaternary};

  --cr-quaternary-light-10: #{$cr-quaternary-light-10};
  --cr-quaternary-light-20: #{$cr-quaternary-light-20};
  --cr-quaternary-light-30: #{$cr-quaternary-light-30};
  --cr-quaternary-light-40: #{$cr-quaternary-light-40};
  --cr-quaternary-light-50: #{$cr-quaternary-light-50};
  --cr-quaternary-light-60: #{$cr-quaternary-light-60};
  --cr-quaternary-light-70: #{$cr-quaternary-light-70};
  --cr-quaternary-light-80: #{$cr-quaternary-light-80};
  --cr-quaternary-light-90: #{$cr-quaternary-light-90};
  --cr-quaternary-light-100: #{$cr-quaternary-light-100};

  --cr-quaternary-tone-10: #{$cr-quaternary-tone-10};
  --cr-quaternary-tone-20: #{$cr-quaternary-tone-20};
  --cr-quaternary-tone-30: #{$cr-quaternary-tone-30};
  --cr-quaternary-tone-40: #{$cr-quaternary-tone-40};
  --cr-quaternary-tone-50: #{$cr-quaternary-tone-50};
  --cr-quaternary-tone-60: #{$cr-quaternary-tone-60};
  --cr-quaternary-tone-70: #{$cr-quaternary-tone-70};
  --cr-quaternary-tone-80: #{$cr-quaternary-tone-80};
  --cr-quaternary-tone-90: #{$cr-quaternary-tone-90};
  --cr-quaternary-tone-100: #{$cr-quaternary-tone-100};

  --cr-quaternary-dark-10: #{$cr-quaternary-dark-10};
  --cr-quaternary-dark-20: #{$cr-quaternary-dark-20};
  --cr-quaternary-dark-30: #{$cr-quaternary-dark-30};
  --cr-quaternary-dark-40: #{$cr-quaternary-dark-40};
  --cr-quaternary-dark-50: #{$cr-quaternary-dark-50};
  --cr-quaternary-dark-60: #{$cr-quaternary-dark-60};
  --cr-quaternary-dark-70: #{$cr-quaternary-dark-70};
  --cr-quaternary-dark-80: #{$cr-quaternary-dark-80};
  --cr-quaternary-dark-90: #{$cr-quaternary-dark-90};
  --cr-quaternary-dark-100: #{$cr-quaternary-dark-100};
}
