@import "variables";

:root {
  --cr-quinary: #{$cr-quinary};

  --cr-quinary-light-10: #{$cr-quinary-light-10};
  --cr-quinary-light-20: #{$cr-quinary-light-20};
  --cr-quinary-light-30: #{$cr-quinary-light-30};
  --cr-quinary-light-40: #{$cr-quinary-light-40};
  --cr-quinary-light-50: #{$cr-quinary-light-50};
  --cr-quinary-light-60: #{$cr-quinary-light-60};
  --cr-quinary-light-70: #{$cr-quinary-light-70};
  --cr-quinary-light-80: #{$cr-quinary-light-80};
  --cr-quinary-light-90: #{$cr-quinary-light-90};
  --cr-quinary-light-100: #{$cr-quinary-light-100};

  --cr-quinary-tone-10: #{$cr-quinary-tone-10};
  --cr-quinary-tone-20: #{$cr-quinary-tone-20};
  --cr-quinary-tone-30: #{$cr-quinary-tone-30};
  --cr-quinary-tone-40: #{$cr-quinary-tone-40};
  --cr-quinary-tone-50: #{$cr-quinary-tone-50};
  --cr-quinary-tone-60: #{$cr-quinary-tone-60};
  --cr-quinary-tone-70: #{$cr-quinary-tone-70};
  --cr-quinary-tone-80: #{$cr-quinary-tone-80};
  --cr-quinary-tone-90: #{$cr-quinary-tone-90};
  --cr-quinary-tone-100: #{$cr-quinary-tone-100};

  --cr-quinary-dark-10: #{$cr-quinary-dark-10};
  --cr-quinary-dark-20: #{$cr-quinary-dark-20};
  --cr-quinary-dark-30: #{$cr-quinary-dark-30};
  --cr-quinary-dark-40: #{$cr-quinary-dark-40};
  --cr-quinary-dark-50: #{$cr-quinary-dark-50};
  --cr-quinary-dark-60: #{$cr-quinary-dark-60};
  --cr-quinary-dark-70: #{$cr-quinary-dark-70};
  --cr-quinary-dark-80: #{$cr-quinary-dark-80};
  --cr-quinary-dark-90: #{$cr-quinary-dark-90};
  --cr-quinary-dark-100: #{$cr-quinary-dark-100};
}
