@import "variables";

:root {
  --cr-quinary: #{$cr-quinary};

  --cr-quinary-light-2: #{$cr-quinary-light-2};
  --cr-quinary-light-4: #{$cr-quinary-light-4};
  --cr-quinary-light-6: #{$cr-quinary-light-6};
  --cr-quinary-light-8: #{$cr-quinary-light-8};
  --cr-quinary-light-10: #{$cr-quinary-light-10};
  --cr-quinary-light-12: #{$cr-quinary-light-12};
  --cr-quinary-light-14: #{$cr-quinary-light-14};
  --cr-quinary-light-16: #{$cr-quinary-light-16};
  --cr-quinary-light-18: #{$cr-quinary-light-18};
  --cr-quinary-light-20: #{$cr-quinary-light-20};
  --cr-quinary-light-22: #{$cr-quinary-light-22};
  --cr-quinary-light-24: #{$cr-quinary-light-24};
  --cr-quinary-light-26: #{$cr-quinary-light-26};
  --cr-quinary-light-28: #{$cr-quinary-light-28};
  --cr-quinary-light-30: #{$cr-quinary-light-30};
  --cr-quinary-light-32: #{$cr-quinary-light-32};
  --cr-quinary-light-34: #{$cr-quinary-light-34};
  --cr-quinary-light-36: #{$cr-quinary-light-36};
  --cr-quinary-light-38: #{$cr-quinary-light-38};
  --cr-quinary-light-40: #{$cr-quinary-light-40};
  --cr-quinary-light-42: #{$cr-quinary-light-42};
  --cr-quinary-light-44: #{$cr-quinary-light-44};
  --cr-quinary-light-46: #{$cr-quinary-light-46};
  --cr-quinary-light-48: #{$cr-quinary-light-48};
  --cr-quinary-light-50: #{$cr-quinary-light-50};
  --cr-quinary-light-52: #{$cr-quinary-light-52};
  --cr-quinary-light-54: #{$cr-quinary-light-54};
  --cr-quinary-light-56: #{$cr-quinary-light-56};
  --cr-quinary-light-58: #{$cr-quinary-light-58};
  --cr-quinary-light-60: #{$cr-quinary-light-60};
  --cr-quinary-light-62: #{$cr-quinary-light-62};
  --cr-quinary-light-64: #{$cr-quinary-light-64};
  --cr-quinary-light-66: #{$cr-quinary-light-66};
  --cr-quinary-light-68: #{$cr-quinary-light-68};
  --cr-quinary-light-70: #{$cr-quinary-light-70};
  --cr-quinary-light-72: #{$cr-quinary-light-72};
  --cr-quinary-light-74: #{$cr-quinary-light-74};
  --cr-quinary-light-76: #{$cr-quinary-light-76};
  --cr-quinary-light-78: #{$cr-quinary-light-78};
  --cr-quinary-light-80: #{$cr-quinary-light-80};
  --cr-quinary-light-82: #{$cr-quinary-light-82};
  --cr-quinary-light-84: #{$cr-quinary-light-84};
  --cr-quinary-light-86: #{$cr-quinary-light-86};
  --cr-quinary-light-88: #{$cr-quinary-light-88};
  --cr-quinary-light-90: #{$cr-quinary-light-90};
  --cr-quinary-light-92: #{$cr-quinary-light-92};
  --cr-quinary-light-94: #{$cr-quinary-light-94};
  --cr-quinary-light-96: #{$cr-quinary-light-96};
  --cr-quinary-light-98: #{$cr-quinary-light-98};
  --cr-quinary-light-100: #{$cr-quinary-light-100};

  --cr-quinary-tone-2: #{$cr-quinary-tone-2};
  --cr-quinary-tone-4: #{$cr-quinary-tone-4};
  --cr-quinary-tone-6: #{$cr-quinary-tone-6};
  --cr-quinary-tone-8: #{$cr-quinary-tone-8};
  --cr-quinary-tone-10: #{$cr-quinary-tone-10};
  --cr-quinary-tone-12: #{$cr-quinary-tone-12};
  --cr-quinary-tone-14: #{$cr-quinary-tone-14};
  --cr-quinary-tone-16: #{$cr-quinary-tone-16};
  --cr-quinary-tone-18: #{$cr-quinary-tone-18};
  --cr-quinary-tone-20: #{$cr-quinary-tone-20};
  --cr-quinary-tone-22: #{$cr-quinary-tone-22};
  --cr-quinary-tone-24: #{$cr-quinary-tone-24};
  --cr-quinary-tone-26: #{$cr-quinary-tone-26};
  --cr-quinary-tone-28: #{$cr-quinary-tone-28};
  --cr-quinary-tone-30: #{$cr-quinary-tone-30};
  --cr-quinary-tone-32: #{$cr-quinary-tone-32};
  --cr-quinary-tone-34: #{$cr-quinary-tone-34};
  --cr-quinary-tone-36: #{$cr-quinary-tone-36};
  --cr-quinary-tone-38: #{$cr-quinary-tone-38};
  --cr-quinary-tone-40: #{$cr-quinary-tone-40};
  --cr-quinary-tone-42: #{$cr-quinary-tone-42};
  --cr-quinary-tone-44: #{$cr-quinary-tone-44};
  --cr-quinary-tone-46: #{$cr-quinary-tone-46};
  --cr-quinary-tone-48: #{$cr-quinary-tone-48};
  --cr-quinary-tone-50: #{$cr-quinary-tone-50};
  --cr-quinary-tone-52: #{$cr-quinary-tone-52};
  --cr-quinary-tone-54: #{$cr-quinary-tone-54};
  --cr-quinary-tone-56: #{$cr-quinary-tone-56};
  --cr-quinary-tone-58: #{$cr-quinary-tone-58};
  --cr-quinary-tone-60: #{$cr-quinary-tone-60};
  --cr-quinary-tone-62: #{$cr-quinary-tone-62};
  --cr-quinary-tone-64: #{$cr-quinary-tone-64};
  --cr-quinary-tone-66: #{$cr-quinary-tone-66};
  --cr-quinary-tone-68: #{$cr-quinary-tone-68};
  --cr-quinary-tone-70: #{$cr-quinary-tone-70};
  --cr-quinary-tone-72: #{$cr-quinary-tone-72};
  --cr-quinary-tone-74: #{$cr-quinary-tone-74};
  --cr-quinary-tone-76: #{$cr-quinary-tone-76};
  --cr-quinary-tone-78: #{$cr-quinary-tone-78};
  --cr-quinary-tone-80: #{$cr-quinary-tone-80};
  --cr-quinary-tone-82: #{$cr-quinary-tone-82};
  --cr-quinary-tone-84: #{$cr-quinary-tone-84};
  --cr-quinary-tone-86: #{$cr-quinary-tone-86};
  --cr-quinary-tone-88: #{$cr-quinary-tone-88};
  --cr-quinary-tone-90: #{$cr-quinary-tone-90};
  --cr-quinary-tone-92: #{$cr-quinary-tone-92};
  --cr-quinary-tone-94: #{$cr-quinary-tone-94};
  --cr-quinary-tone-96: #{$cr-quinary-tone-96};
  --cr-quinary-tone-98: #{$cr-quinary-tone-98};
  --cr-quinary-tone-100: #{$cr-quinary-tone-100};

  --cr-quinary-dark-2: #{$cr-quinary-dark-2};
  --cr-quinary-dark-4: #{$cr-quinary-dark-4};
  --cr-quinary-dark-6: #{$cr-quinary-dark-6};
  --cr-quinary-dark-8: #{$cr-quinary-dark-8};
  --cr-quinary-dark-10: #{$cr-quinary-dark-10};
  --cr-quinary-dark-12: #{$cr-quinary-dark-12};
  --cr-quinary-dark-14: #{$cr-quinary-dark-14};
  --cr-quinary-dark-16: #{$cr-quinary-dark-16};
  --cr-quinary-dark-18: #{$cr-quinary-dark-18};
  --cr-quinary-dark-20: #{$cr-quinary-dark-20};
  --cr-quinary-dark-22: #{$cr-quinary-dark-22};
  --cr-quinary-dark-24: #{$cr-quinary-dark-24};
  --cr-quinary-dark-26: #{$cr-quinary-dark-26};
  --cr-quinary-dark-28: #{$cr-quinary-dark-28};
  --cr-quinary-dark-30: #{$cr-quinary-dark-30};
  --cr-quinary-dark-32: #{$cr-quinary-dark-32};
  --cr-quinary-dark-34: #{$cr-quinary-dark-34};
  --cr-quinary-dark-36: #{$cr-quinary-dark-36};
  --cr-quinary-dark-38: #{$cr-quinary-dark-38};
  --cr-quinary-dark-40: #{$cr-quinary-dark-40};
  --cr-quinary-dark-42: #{$cr-quinary-dark-42};
  --cr-quinary-dark-44: #{$cr-quinary-dark-44};
  --cr-quinary-dark-46: #{$cr-quinary-dark-46};
  --cr-quinary-dark-48: #{$cr-quinary-dark-48};
  --cr-quinary-dark-50: #{$cr-quinary-dark-50};
  --cr-quinary-dark-52: #{$cr-quinary-dark-52};
  --cr-quinary-dark-54: #{$cr-quinary-dark-54};
  --cr-quinary-dark-56: #{$cr-quinary-dark-56};
  --cr-quinary-dark-58: #{$cr-quinary-dark-58};
  --cr-quinary-dark-60: #{$cr-quinary-dark-60};
  --cr-quinary-dark-62: #{$cr-quinary-dark-62};
  --cr-quinary-dark-64: #{$cr-quinary-dark-64};
  --cr-quinary-dark-66: #{$cr-quinary-dark-66};
  --cr-quinary-dark-68: #{$cr-quinary-dark-68};
  --cr-quinary-dark-70: #{$cr-quinary-dark-70};
  --cr-quinary-dark-72: #{$cr-quinary-dark-72};
  --cr-quinary-dark-74: #{$cr-quinary-dark-74};
  --cr-quinary-dark-76: #{$cr-quinary-dark-76};
  --cr-quinary-dark-78: #{$cr-quinary-dark-78};
  --cr-quinary-dark-80: #{$cr-quinary-dark-80};
  --cr-quinary-dark-82: #{$cr-quinary-dark-82};
  --cr-quinary-dark-84: #{$cr-quinary-dark-84};
  --cr-quinary-dark-86: #{$cr-quinary-dark-86};
  --cr-quinary-dark-88: #{$cr-quinary-dark-88};
  --cr-quinary-dark-90: #{$cr-quinary-dark-90};
  --cr-quinary-dark-92: #{$cr-quinary-dark-92};
  --cr-quinary-dark-94: #{$cr-quinary-dark-94};
  --cr-quinary-dark-96: #{$cr-quinary-dark-96};
  --cr-quinary-dark-98: #{$cr-quinary-dark-98};
  --cr-quinary-dark-100: #{$cr-quinary-dark-100};
}
