@import "variables";

:root {
  --cr-red: #{$cr-red};
  --cr-orange: #{$cr-orange};
  --cr-yellow: #{$cr-yellow};
  --cr-chartreuseGreen: #{$cr-chartreuseGreen};
  --cr-green: #{$cr-green};
  --cr-springGreen: #{$cr-springGreen};
  --cr-cyan: #{$cr-cyan};
  --cr-azure: #{$cr-azure};
  --cr-blue: #{$cr-blue};
  --cr-violet: #{$cr-violet};
  --cr-magenta: #{$cr-magenta};
  --cr-rose: #{$cr-rose};
}
