@import "variables";

:root {
  --cr-red: #{$cr-red};
  --cr-red-light-5: #{$cr-red-light-5};
  --cr-red-light-10: #{$cr-red-light-10};
  --cr-red-light-15: #{$cr-red-light-15};
  --cr-red-light-20: #{$cr-red-light-20};
  --cr-red-light-25: #{$cr-red-light-25};
  --cr-red-light-30: #{$cr-red-light-30};
  --cr-red-light-35: #{$cr-red-light-35};
  --cr-red-light-40: #{$cr-red-light-40};
  --cr-red-light-45: #{$cr-red-light-45};
  --cr-red-light-50: #{$cr-red-light-50};
  --cr-red-light-55: #{$cr-red-light-55};
  --cr-red-light-60: #{$cr-red-light-60};
  --cr-red-light-65: #{$cr-red-light-65};
  --cr-red-light-70: #{$cr-red-light-70};
  --cr-red-light-75: #{$cr-red-light-75};
  --cr-red-light-80: #{$cr-red-light-80};
  --cr-red-light-85: #{$cr-red-light-85};
  --cr-red-light-90: #{$cr-red-light-90};
  --cr-red-light-95: #{$cr-red-light-95};
  --cr-red-light-100: #{$cr-red-light-100};
  --cr-red-tone-5: #{$cr-red-tone-5};
  --cr-red-tone-10: #{$cr-red-tone-10};
  --cr-red-tone-15: #{$cr-red-tone-15};
  --cr-red-tone-20: #{$cr-red-tone-20};
  --cr-red-tone-25: #{$cr-red-tone-25};
  --cr-red-tone-30: #{$cr-red-tone-30};
  --cr-red-tone-35: #{$cr-red-tone-35};
  --cr-red-tone-40: #{$cr-red-tone-40};
  --cr-red-tone-45: #{$cr-red-tone-45};
  --cr-red-tone-50: #{$cr-red-tone-50};
  --cr-red-tone-55: #{$cr-red-tone-55};
  --cr-red-tone-60: #{$cr-red-tone-60};
  --cr-red-tone-65: #{$cr-red-tone-65};
  --cr-red-tone-70: #{$cr-red-tone-70};
  --cr-red-tone-75: #{$cr-red-tone-75};
  --cr-red-tone-80: #{$cr-red-tone-80};
  --cr-red-tone-85: #{$cr-red-tone-85};
  --cr-red-tone-90: #{$cr-red-tone-90};
  --cr-red-tone-95: #{$cr-red-tone-95};
  --cr-red-tone-100: #{$cr-red-tone-100};
  --cr-red-dark-5: #{$cr-red-dark-5};
  --cr-red-dark-10: #{$cr-red-dark-10};
  --cr-red-dark-15: #{$cr-red-dark-15};
  --cr-red-dark-20: #{$cr-red-dark-20};
  --cr-red-dark-25: #{$cr-red-dark-25};
  --cr-red-dark-30: #{$cr-red-dark-30};
  --cr-red-dark-35: #{$cr-red-dark-35};
  --cr-red-dark-40: #{$cr-red-dark-40};
  --cr-red-dark-45: #{$cr-red-dark-45};
  --cr-red-dark-50: #{$cr-red-dark-50};
  --cr-red-dark-55: #{$cr-red-dark-55};
  --cr-red-dark-60: #{$cr-red-dark-60};
  --cr-red-dark-65: #{$cr-red-dark-65};
  --cr-red-dark-70: #{$cr-red-dark-70};
  --cr-red-dark-75: #{$cr-red-dark-75};
  --cr-red-dark-80: #{$cr-red-dark-80};
  --cr-red-dark-85: #{$cr-red-dark-85};
  --cr-red-dark-90: #{$cr-red-dark-90};
  --cr-red-dark-95: #{$cr-red-dark-95};
  --cr-red-dark-100: #{$cr-red-dark-100};

  --cr-orange: #{$cr-orange};
  --cr-orange-light-5: #{$cr-orange-light-5};
  --cr-orange-light-10: #{$cr-orange-light-10};
  --cr-orange-light-15: #{$cr-orange-light-15};
  --cr-orange-light-20: #{$cr-orange-light-20};
  --cr-orange-light-25: #{$cr-orange-light-25};
  --cr-orange-light-30: #{$cr-orange-light-30};
  --cr-orange-light-35: #{$cr-orange-light-35};
  --cr-orange-light-40: #{$cr-orange-light-40};
  --cr-orange-light-45: #{$cr-orange-light-45};
  --cr-orange-light-50: #{$cr-orange-light-50};
  --cr-orange-light-55: #{$cr-orange-light-55};
  --cr-orange-light-60: #{$cr-orange-light-60};
  --cr-orange-light-65: #{$cr-orange-light-65};
  --cr-orange-light-70: #{$cr-orange-light-70};
  --cr-orange-light-75: #{$cr-orange-light-75};
  --cr-orange-light-80: #{$cr-orange-light-80};
  --cr-orange-light-85: #{$cr-orange-light-85};
  --cr-orange-light-90: #{$cr-orange-light-90};
  --cr-orange-light-95: #{$cr-orange-light-95};
  --cr-orange-light-100: #{$cr-orange-light-100};
  --cr-orange-tone-5: #{$cr-orange-tone-5};
  --cr-orange-tone-10: #{$cr-orange-tone-10};
  --cr-orange-tone-15: #{$cr-orange-tone-15};
  --cr-orange-tone-20: #{$cr-orange-tone-20};
  --cr-orange-tone-25: #{$cr-orange-tone-25};
  --cr-orange-tone-30: #{$cr-orange-tone-30};
  --cr-orange-tone-35: #{$cr-orange-tone-35};
  --cr-orange-tone-40: #{$cr-orange-tone-40};
  --cr-orange-tone-45: #{$cr-orange-tone-45};
  --cr-orange-tone-50: #{$cr-orange-tone-50};
  --cr-orange-tone-55: #{$cr-orange-tone-55};
  --cr-orange-tone-60: #{$cr-orange-tone-60};
  --cr-orange-tone-65: #{$cr-orange-tone-65};
  --cr-orange-tone-70: #{$cr-orange-tone-70};
  --cr-orange-tone-75: #{$cr-orange-tone-75};
  --cr-orange-tone-80: #{$cr-orange-tone-80};
  --cr-orange-tone-85: #{$cr-orange-tone-85};
  --cr-orange-tone-90: #{$cr-orange-tone-90};
  --cr-orange-tone-95: #{$cr-orange-tone-95};
  --cr-orange-tone-100: #{$cr-orange-tone-100};
  --cr-orange-dark-5: #{$cr-orange-dark-5};
  --cr-orange-dark-10: #{$cr-orange-dark-10};
  --cr-orange-dark-15: #{$cr-orange-dark-15};
  --cr-orange-dark-20: #{$cr-orange-dark-20};
  --cr-orange-dark-25: #{$cr-orange-dark-25};
  --cr-orange-dark-30: #{$cr-orange-dark-30};
  --cr-orange-dark-35: #{$cr-orange-dark-35};
  --cr-orange-dark-40: #{$cr-orange-dark-40};
  --cr-orange-dark-45: #{$cr-orange-dark-45};
  --cr-orange-dark-50: #{$cr-orange-dark-50};
  --cr-orange-dark-55: #{$cr-orange-dark-55};
  --cr-orange-dark-60: #{$cr-orange-dark-60};
  --cr-orange-dark-65: #{$cr-orange-dark-65};
  --cr-orange-dark-70: #{$cr-orange-dark-70};
  --cr-orange-dark-75: #{$cr-orange-dark-75};
  --cr-orange-dark-80: #{$cr-orange-dark-80};
  --cr-orange-dark-85: #{$cr-orange-dark-85};
  --cr-orange-dark-90: #{$cr-orange-dark-90};
  --cr-orange-dark-95: #{$cr-orange-dark-95};
  --cr-orange-dark-100: #{$cr-orange-dark-100};

  --cr-yellow: #{$cr-yellow};
  --cr-yellow-light-5: #{$cr-yellow-light-5};
  --cr-yellow-light-10: #{$cr-yellow-light-10};
  --cr-yellow-light-15: #{$cr-yellow-light-15};
  --cr-yellow-light-20: #{$cr-yellow-light-20};
  --cr-yellow-light-25: #{$cr-yellow-light-25};
  --cr-yellow-light-30: #{$cr-yellow-light-30};
  --cr-yellow-light-35: #{$cr-yellow-light-35};
  --cr-yellow-light-40: #{$cr-yellow-light-40};
  --cr-yellow-light-45: #{$cr-yellow-light-45};
  --cr-yellow-light-50: #{$cr-yellow-light-50};
  --cr-yellow-light-55: #{$cr-yellow-light-55};
  --cr-yellow-light-60: #{$cr-yellow-light-60};
  --cr-yellow-light-65: #{$cr-yellow-light-65};
  --cr-yellow-light-70: #{$cr-yellow-light-70};
  --cr-yellow-light-75: #{$cr-yellow-light-75};
  --cr-yellow-light-80: #{$cr-yellow-light-80};
  --cr-yellow-light-85: #{$cr-yellow-light-85};
  --cr-yellow-light-90: #{$cr-yellow-light-90};
  --cr-yellow-light-95: #{$cr-yellow-light-95};
  --cr-yellow-light-100: #{$cr-yellow-light-100};
  --cr-yellow-tone-5: #{$cr-yellow-tone-5};
  --cr-yellow-tone-10: #{$cr-yellow-tone-10};
  --cr-yellow-tone-15: #{$cr-yellow-tone-15};
  --cr-yellow-tone-20: #{$cr-yellow-tone-20};
  --cr-yellow-tone-25: #{$cr-yellow-tone-25};
  --cr-yellow-tone-30: #{$cr-yellow-tone-30};
  --cr-yellow-tone-35: #{$cr-yellow-tone-35};
  --cr-yellow-tone-40: #{$cr-yellow-tone-40};
  --cr-yellow-tone-45: #{$cr-yellow-tone-45};
  --cr-yellow-tone-50: #{$cr-yellow-tone-50};
  --cr-yellow-tone-55: #{$cr-yellow-tone-55};
  --cr-yellow-tone-60: #{$cr-yellow-tone-60};
  --cr-yellow-tone-65: #{$cr-yellow-tone-65};
  --cr-yellow-tone-70: #{$cr-yellow-tone-70};
  --cr-yellow-tone-75: #{$cr-yellow-tone-75};
  --cr-yellow-tone-80: #{$cr-yellow-tone-80};
  --cr-yellow-tone-85: #{$cr-yellow-tone-85};
  --cr-yellow-tone-90: #{$cr-yellow-tone-90};
  --cr-yellow-tone-95: #{$cr-yellow-tone-95};
  --cr-yellow-tone-100: #{$cr-yellow-tone-100};
  --cr-yellow-dark-5: #{$cr-yellow-dark-5};
  --cr-yellow-dark-10: #{$cr-yellow-dark-10};
  --cr-yellow-dark-15: #{$cr-yellow-dark-15};
  --cr-yellow-dark-20: #{$cr-yellow-dark-20};
  --cr-yellow-dark-25: #{$cr-yellow-dark-25};
  --cr-yellow-dark-30: #{$cr-yellow-dark-30};
  --cr-yellow-dark-35: #{$cr-yellow-dark-35};
  --cr-yellow-dark-40: #{$cr-yellow-dark-40};
  --cr-yellow-dark-45: #{$cr-yellow-dark-45};
  --cr-yellow-dark-50: #{$cr-yellow-dark-50};
  --cr-yellow-dark-55: #{$cr-yellow-dark-55};
  --cr-yellow-dark-60: #{$cr-yellow-dark-60};
  --cr-yellow-dark-65: #{$cr-yellow-dark-65};
  --cr-yellow-dark-70: #{$cr-yellow-dark-70};
  --cr-yellow-dark-75: #{$cr-yellow-dark-75};
  --cr-yellow-dark-80: #{$cr-yellow-dark-80};
  --cr-yellow-dark-85: #{$cr-yellow-dark-85};
  --cr-yellow-dark-90: #{$cr-yellow-dark-90};
  --cr-yellow-dark-95: #{$cr-yellow-dark-95};
  --cr-yellow-dark-100: #{$cr-yellow-dark-100};

  --cr-chartreuseGreen: #{$cr-chartreuseGreen};
  --cr-chartreuseGreen-light-5: #{$cr-chartreuseGreen-light-5};
  --cr-chartreuseGreen-light-10: #{$cr-chartreuseGreen-light-10};
  --cr-chartreuseGreen-light-15: #{$cr-chartreuseGreen-light-15};
  --cr-chartreuseGreen-light-20: #{$cr-chartreuseGreen-light-20};
  --cr-chartreuseGreen-light-25: #{$cr-chartreuseGreen-light-25};
  --cr-chartreuseGreen-light-30: #{$cr-chartreuseGreen-light-30};
  --cr-chartreuseGreen-light-35: #{$cr-chartreuseGreen-light-35};
  --cr-chartreuseGreen-light-40: #{$cr-chartreuseGreen-light-40};
  --cr-chartreuseGreen-light-45: #{$cr-chartreuseGreen-light-45};
  --cr-chartreuseGreen-light-50: #{$cr-chartreuseGreen-light-50};
  --cr-chartreuseGreen-light-55: #{$cr-chartreuseGreen-light-55};
  --cr-chartreuseGreen-light-60: #{$cr-chartreuseGreen-light-60};
  --cr-chartreuseGreen-light-65: #{$cr-chartreuseGreen-light-65};
  --cr-chartreuseGreen-light-70: #{$cr-chartreuseGreen-light-70};
  --cr-chartreuseGreen-light-75: #{$cr-chartreuseGreen-light-75};
  --cr-chartreuseGreen-light-80: #{$cr-chartreuseGreen-light-80};
  --cr-chartreuseGreen-light-85: #{$cr-chartreuseGreen-light-85};
  --cr-chartreuseGreen-light-90: #{$cr-chartreuseGreen-light-90};
  --cr-chartreuseGreen-light-95: #{$cr-chartreuseGreen-light-95};
  --cr-chartreuseGreen-light-100: #{$cr-chartreuseGreen-light-100};
  --cr-chartreuseGreen-tone-5: #{$cr-chartreuseGreen-tone-5};
  --cr-chartreuseGreen-tone-10: #{$cr-chartreuseGreen-tone-10};
  --cr-chartreuseGreen-tone-15: #{$cr-chartreuseGreen-tone-15};
  --cr-chartreuseGreen-tone-20: #{$cr-chartreuseGreen-tone-20};
  --cr-chartreuseGreen-tone-25: #{$cr-chartreuseGreen-tone-25};
  --cr-chartreuseGreen-tone-30: #{$cr-chartreuseGreen-tone-30};
  --cr-chartreuseGreen-tone-35: #{$cr-chartreuseGreen-tone-35};
  --cr-chartreuseGreen-tone-40: #{$cr-chartreuseGreen-tone-40};
  --cr-chartreuseGreen-tone-45: #{$cr-chartreuseGreen-tone-45};
  --cr-chartreuseGreen-tone-50: #{$cr-chartreuseGreen-tone-50};
  --cr-chartreuseGreen-tone-55: #{$cr-chartreuseGreen-tone-55};
  --cr-chartreuseGreen-tone-60: #{$cr-chartreuseGreen-tone-60};
  --cr-chartreuseGreen-tone-65: #{$cr-chartreuseGreen-tone-65};
  --cr-chartreuseGreen-tone-70: #{$cr-chartreuseGreen-tone-70};
  --cr-chartreuseGreen-tone-75: #{$cr-chartreuseGreen-tone-75};
  --cr-chartreuseGreen-tone-80: #{$cr-chartreuseGreen-tone-80};
  --cr-chartreuseGreen-tone-85: #{$cr-chartreuseGreen-tone-85};
  --cr-chartreuseGreen-tone-90: #{$cr-chartreuseGreen-tone-90};
  --cr-chartreuseGreen-tone-95: #{$cr-chartreuseGreen-tone-95};
  --cr-chartreuseGreen-tone-100: #{$cr-chartreuseGreen-tone-100};
  --cr-chartreuseGreen-dark-5: #{$cr-chartreuseGreen-dark-5};
  --cr-chartreuseGreen-dark-10: #{$cr-chartreuseGreen-dark-10};
  --cr-chartreuseGreen-dark-15: #{$cr-chartreuseGreen-dark-15};
  --cr-chartreuseGreen-dark-20: #{$cr-chartreuseGreen-dark-20};
  --cr-chartreuseGreen-dark-25: #{$cr-chartreuseGreen-dark-25};
  --cr-chartreuseGreen-dark-30: #{$cr-chartreuseGreen-dark-30};
  --cr-chartreuseGreen-dark-35: #{$cr-chartreuseGreen-dark-35};
  --cr-chartreuseGreen-dark-40: #{$cr-chartreuseGreen-dark-40};
  --cr-chartreuseGreen-dark-45: #{$cr-chartreuseGreen-dark-45};
  --cr-chartreuseGreen-dark-50: #{$cr-chartreuseGreen-dark-50};
  --cr-chartreuseGreen-dark-55: #{$cr-chartreuseGreen-dark-55};
  --cr-chartreuseGreen-dark-60: #{$cr-chartreuseGreen-dark-60};
  --cr-chartreuseGreen-dark-65: #{$cr-chartreuseGreen-dark-65};
  --cr-chartreuseGreen-dark-70: #{$cr-chartreuseGreen-dark-70};
  --cr-chartreuseGreen-dark-75: #{$cr-chartreuseGreen-dark-75};
  --cr-chartreuseGreen-dark-80: #{$cr-chartreuseGreen-dark-80};
  --cr-chartreuseGreen-dark-85: #{$cr-chartreuseGreen-dark-85};
  --cr-chartreuseGreen-dark-90: #{$cr-chartreuseGreen-dark-90};
  --cr-chartreuseGreen-dark-95: #{$cr-chartreuseGreen-dark-95};
  --cr-chartreuseGreen-dark-100: #{$cr-chartreuseGreen-dark-100};

  --cr-green: #{$cr-green};
  --cr-green-light-5: #{$cr-green-light-5};
  --cr-green-light-10: #{$cr-green-light-10};
  --cr-green-light-15: #{$cr-green-light-15};
  --cr-green-light-20: #{$cr-green-light-20};
  --cr-green-light-25: #{$cr-green-light-25};
  --cr-green-light-30: #{$cr-green-light-30};
  --cr-green-light-35: #{$cr-green-light-35};
  --cr-green-light-40: #{$cr-green-light-40};
  --cr-green-light-45: #{$cr-green-light-45};
  --cr-green-light-50: #{$cr-green-light-50};
  --cr-green-light-55: #{$cr-green-light-55};
  --cr-green-light-60: #{$cr-green-light-60};
  --cr-green-light-65: #{$cr-green-light-65};
  --cr-green-light-70: #{$cr-green-light-70};
  --cr-green-light-75: #{$cr-green-light-75};
  --cr-green-light-80: #{$cr-green-light-80};
  --cr-green-light-85: #{$cr-green-light-85};
  --cr-green-light-90: #{$cr-green-light-90};
  --cr-green-light-95: #{$cr-green-light-95};
  --cr-green-light-100: #{$cr-green-light-100};
  --cr-green-tone-5: #{$cr-green-tone-5};
  --cr-green-tone-10: #{$cr-green-tone-10};
  --cr-green-tone-15: #{$cr-green-tone-15};
  --cr-green-tone-20: #{$cr-green-tone-20};
  --cr-green-tone-25: #{$cr-green-tone-25};
  --cr-green-tone-30: #{$cr-green-tone-30};
  --cr-green-tone-35: #{$cr-green-tone-35};
  --cr-green-tone-40: #{$cr-green-tone-40};
  --cr-green-tone-45: #{$cr-green-tone-45};
  --cr-green-tone-50: #{$cr-green-tone-50};
  --cr-green-tone-55: #{$cr-green-tone-55};
  --cr-green-tone-60: #{$cr-green-tone-60};
  --cr-green-tone-65: #{$cr-green-tone-65};
  --cr-green-tone-70: #{$cr-green-tone-70};
  --cr-green-tone-75: #{$cr-green-tone-75};
  --cr-green-tone-80: #{$cr-green-tone-80};
  --cr-green-tone-85: #{$cr-green-tone-85};
  --cr-green-tone-90: #{$cr-green-tone-90};
  --cr-green-tone-95: #{$cr-green-tone-95};
  --cr-green-tone-100: #{$cr-green-tone-100};
  --cr-green-dark-5: #{$cr-green-dark-5};
  --cr-green-dark-10: #{$cr-green-dark-10};
  --cr-green-dark-15: #{$cr-green-dark-15};
  --cr-green-dark-20: #{$cr-green-dark-20};
  --cr-green-dark-25: #{$cr-green-dark-25};
  --cr-green-dark-30: #{$cr-green-dark-30};
  --cr-green-dark-35: #{$cr-green-dark-35};
  --cr-green-dark-40: #{$cr-green-dark-40};
  --cr-green-dark-45: #{$cr-green-dark-45};
  --cr-green-dark-50: #{$cr-green-dark-50};
  --cr-green-dark-55: #{$cr-green-dark-55};
  --cr-green-dark-60: #{$cr-green-dark-60};
  --cr-green-dark-65: #{$cr-green-dark-65};
  --cr-green-dark-70: #{$cr-green-dark-70};
  --cr-green-dark-75: #{$cr-green-dark-75};
  --cr-green-dark-80: #{$cr-green-dark-80};
  --cr-green-dark-85: #{$cr-green-dark-85};
  --cr-green-dark-90: #{$cr-green-dark-90};
  --cr-green-dark-95: #{$cr-green-dark-95};
  --cr-green-dark-100: #{$cr-green-dark-100};

  --cr-springGreen: #{$cr-springGreen};
  --cr-springGreen-light-5: #{$cr-springGreen-light-5};
  --cr-springGreen-light-10: #{$cr-springGreen-light-10};
  --cr-springGreen-light-15: #{$cr-springGreen-light-15};
  --cr-springGreen-light-20: #{$cr-springGreen-light-20};
  --cr-springGreen-light-25: #{$cr-springGreen-light-25};
  --cr-springGreen-light-30: #{$cr-springGreen-light-30};
  --cr-springGreen-light-35: #{$cr-springGreen-light-35};
  --cr-springGreen-light-40: #{$cr-springGreen-light-40};
  --cr-springGreen-light-45: #{$cr-springGreen-light-45};
  --cr-springGreen-light-50: #{$cr-springGreen-light-50};
  --cr-springGreen-light-55: #{$cr-springGreen-light-55};
  --cr-springGreen-light-60: #{$cr-springGreen-light-60};
  --cr-springGreen-light-65: #{$cr-springGreen-light-65};
  --cr-springGreen-light-70: #{$cr-springGreen-light-70};
  --cr-springGreen-light-75: #{$cr-springGreen-light-75};
  --cr-springGreen-light-80: #{$cr-springGreen-light-80};
  --cr-springGreen-light-85: #{$cr-springGreen-light-85};
  --cr-springGreen-light-90: #{$cr-springGreen-light-90};
  --cr-springGreen-light-95: #{$cr-springGreen-light-95};
  --cr-springGreen-light-100: #{$cr-springGreen-light-100};
  --cr-springGreen-tone-5: #{$cr-springGreen-tone-5};
  --cr-springGreen-tone-10: #{$cr-springGreen-tone-10};
  --cr-springGreen-tone-15: #{$cr-springGreen-tone-15};
  --cr-springGreen-tone-20: #{$cr-springGreen-tone-20};
  --cr-springGreen-tone-25: #{$cr-springGreen-tone-25};
  --cr-springGreen-tone-30: #{$cr-springGreen-tone-30};
  --cr-springGreen-tone-35: #{$cr-springGreen-tone-35};
  --cr-springGreen-tone-40: #{$cr-springGreen-tone-40};
  --cr-springGreen-tone-45: #{$cr-springGreen-tone-45};
  --cr-springGreen-tone-50: #{$cr-springGreen-tone-50};
  --cr-springGreen-tone-55: #{$cr-springGreen-tone-55};
  --cr-springGreen-tone-60: #{$cr-springGreen-tone-60};
  --cr-springGreen-tone-65: #{$cr-springGreen-tone-65};
  --cr-springGreen-tone-70: #{$cr-springGreen-tone-70};
  --cr-springGreen-tone-75: #{$cr-springGreen-tone-75};
  --cr-springGreen-tone-80: #{$cr-springGreen-tone-80};
  --cr-springGreen-tone-85: #{$cr-springGreen-tone-85};
  --cr-springGreen-tone-90: #{$cr-springGreen-tone-90};
  --cr-springGreen-tone-95: #{$cr-springGreen-tone-95};
  --cr-springGreen-tone-100: #{$cr-springGreen-tone-100};
  --cr-springGreen-dark-5: #{$cr-springGreen-dark-5};
  --cr-springGreen-dark-10: #{$cr-springGreen-dark-10};
  --cr-springGreen-dark-15: #{$cr-springGreen-dark-15};
  --cr-springGreen-dark-20: #{$cr-springGreen-dark-20};
  --cr-springGreen-dark-25: #{$cr-springGreen-dark-25};
  --cr-springGreen-dark-30: #{$cr-springGreen-dark-30};
  --cr-springGreen-dark-35: #{$cr-springGreen-dark-35};
  --cr-springGreen-dark-40: #{$cr-springGreen-dark-40};
  --cr-springGreen-dark-45: #{$cr-springGreen-dark-45};
  --cr-springGreen-dark-50: #{$cr-springGreen-dark-50};
  --cr-springGreen-dark-55: #{$cr-springGreen-dark-55};
  --cr-springGreen-dark-60: #{$cr-springGreen-dark-60};
  --cr-springGreen-dark-65: #{$cr-springGreen-dark-65};
  --cr-springGreen-dark-70: #{$cr-springGreen-dark-70};
  --cr-springGreen-dark-75: #{$cr-springGreen-dark-75};
  --cr-springGreen-dark-80: #{$cr-springGreen-dark-80};
  --cr-springGreen-dark-85: #{$cr-springGreen-dark-85};
  --cr-springGreen-dark-90: #{$cr-springGreen-dark-90};
  --cr-springGreen-dark-95: #{$cr-springGreen-dark-95};
  --cr-springGreen-dark-100: #{$cr-springGreen-dark-100};

  --cr-cyan: #{$cr-cyan};
  --cr-cyan-light-5: #{$cr-cyan-light-5};
  --cr-cyan-light-10: #{$cr-cyan-light-10};
  --cr-cyan-light-15: #{$cr-cyan-light-15};
  --cr-cyan-light-20: #{$cr-cyan-light-20};
  --cr-cyan-light-25: #{$cr-cyan-light-25};
  --cr-cyan-light-30: #{$cr-cyan-light-30};
  --cr-cyan-light-35: #{$cr-cyan-light-35};
  --cr-cyan-light-40: #{$cr-cyan-light-40};
  --cr-cyan-light-45: #{$cr-cyan-light-45};
  --cr-cyan-light-50: #{$cr-cyan-light-50};
  --cr-cyan-light-55: #{$cr-cyan-light-55};
  --cr-cyan-light-60: #{$cr-cyan-light-60};
  --cr-cyan-light-65: #{$cr-cyan-light-65};
  --cr-cyan-light-70: #{$cr-cyan-light-70};
  --cr-cyan-light-75: #{$cr-cyan-light-75};
  --cr-cyan-light-80: #{$cr-cyan-light-80};
  --cr-cyan-light-85: #{$cr-cyan-light-85};
  --cr-cyan-light-90: #{$cr-cyan-light-90};
  --cr-cyan-light-95: #{$cr-cyan-light-95};
  --cr-cyan-light-100: #{$cr-cyan-light-100};
  --cr-cyan-tone-5: #{$cr-cyan-tone-5};
  --cr-cyan-tone-10: #{$cr-cyan-tone-10};
  --cr-cyan-tone-15: #{$cr-cyan-tone-15};
  --cr-cyan-tone-20: #{$cr-cyan-tone-20};
  --cr-cyan-tone-25: #{$cr-cyan-tone-25};
  --cr-cyan-tone-30: #{$cr-cyan-tone-30};
  --cr-cyan-tone-35: #{$cr-cyan-tone-35};
  --cr-cyan-tone-40: #{$cr-cyan-tone-40};
  --cr-cyan-tone-45: #{$cr-cyan-tone-45};
  --cr-cyan-tone-50: #{$cr-cyan-tone-50};
  --cr-cyan-tone-55: #{$cr-cyan-tone-55};
  --cr-cyan-tone-60: #{$cr-cyan-tone-60};
  --cr-cyan-tone-65: #{$cr-cyan-tone-65};
  --cr-cyan-tone-70: #{$cr-cyan-tone-70};
  --cr-cyan-tone-75: #{$cr-cyan-tone-75};
  --cr-cyan-tone-80: #{$cr-cyan-tone-80};
  --cr-cyan-tone-85: #{$cr-cyan-tone-85};
  --cr-cyan-tone-90: #{$cr-cyan-tone-90};
  --cr-cyan-tone-95: #{$cr-cyan-tone-95};
  --cr-cyan-tone-100: #{$cr-cyan-tone-100};
  --cr-cyan-dark-5: #{$cr-cyan-dark-5};
  --cr-cyan-dark-10: #{$cr-cyan-dark-10};
  --cr-cyan-dark-15: #{$cr-cyan-dark-15};
  --cr-cyan-dark-20: #{$cr-cyan-dark-20};
  --cr-cyan-dark-25: #{$cr-cyan-dark-25};
  --cr-cyan-dark-30: #{$cr-cyan-dark-30};
  --cr-cyan-dark-35: #{$cr-cyan-dark-35};
  --cr-cyan-dark-40: #{$cr-cyan-dark-40};
  --cr-cyan-dark-45: #{$cr-cyan-dark-45};
  --cr-cyan-dark-50: #{$cr-cyan-dark-50};
  --cr-cyan-dark-55: #{$cr-cyan-dark-55};
  --cr-cyan-dark-60: #{$cr-cyan-dark-60};
  --cr-cyan-dark-65: #{$cr-cyan-dark-65};
  --cr-cyan-dark-70: #{$cr-cyan-dark-70};
  --cr-cyan-dark-75: #{$cr-cyan-dark-75};
  --cr-cyan-dark-80: #{$cr-cyan-dark-80};
  --cr-cyan-dark-85: #{$cr-cyan-dark-85};
  --cr-cyan-dark-90: #{$cr-cyan-dark-90};
  --cr-cyan-dark-95: #{$cr-cyan-dark-95};
  --cr-cyan-dark-100: #{$cr-cyan-dark-100};

  --cr-azure: #{$cr-azure};
  --cr-azure-light-5: #{$cr-azure-light-5};
  --cr-azure-light-10: #{$cr-azure-light-10};
  --cr-azure-light-15: #{$cr-azure-light-15};
  --cr-azure-light-20: #{$cr-azure-light-20};
  --cr-azure-light-25: #{$cr-azure-light-25};
  --cr-azure-light-30: #{$cr-azure-light-30};
  --cr-azure-light-35: #{$cr-azure-light-35};
  --cr-azure-light-40: #{$cr-azure-light-40};
  --cr-azure-light-45: #{$cr-azure-light-45};
  --cr-azure-light-50: #{$cr-azure-light-50};
  --cr-azure-light-55: #{$cr-azure-light-55};
  --cr-azure-light-60: #{$cr-azure-light-60};
  --cr-azure-light-65: #{$cr-azure-light-65};
  --cr-azure-light-70: #{$cr-azure-light-70};
  --cr-azure-light-75: #{$cr-azure-light-75};
  --cr-azure-light-80: #{$cr-azure-light-80};
  --cr-azure-light-85: #{$cr-azure-light-85};
  --cr-azure-light-90: #{$cr-azure-light-90};
  --cr-azure-light-95: #{$cr-azure-light-95};
  --cr-azure-light-100: #{$cr-azure-light-100};
  --cr-azure-tone-5: #{$cr-azure-tone-5};
  --cr-azure-tone-10: #{$cr-azure-tone-10};
  --cr-azure-tone-15: #{$cr-azure-tone-15};
  --cr-azure-tone-20: #{$cr-azure-tone-20};
  --cr-azure-tone-25: #{$cr-azure-tone-25};
  --cr-azure-tone-30: #{$cr-azure-tone-30};
  --cr-azure-tone-35: #{$cr-azure-tone-35};
  --cr-azure-tone-40: #{$cr-azure-tone-40};
  --cr-azure-tone-45: #{$cr-azure-tone-45};
  --cr-azure-tone-50: #{$cr-azure-tone-50};
  --cr-azure-tone-55: #{$cr-azure-tone-55};
  --cr-azure-tone-60: #{$cr-azure-tone-60};
  --cr-azure-tone-65: #{$cr-azure-tone-65};
  --cr-azure-tone-70: #{$cr-azure-tone-70};
  --cr-azure-tone-75: #{$cr-azure-tone-75};
  --cr-azure-tone-80: #{$cr-azure-tone-80};
  --cr-azure-tone-85: #{$cr-azure-tone-85};
  --cr-azure-tone-90: #{$cr-azure-tone-90};
  --cr-azure-tone-95: #{$cr-azure-tone-95};
  --cr-azure-tone-100: #{$cr-azure-tone-100};
  --cr-azure-dark-5: #{$cr-azure-dark-5};
  --cr-azure-dark-10: #{$cr-azure-dark-10};
  --cr-azure-dark-15: #{$cr-azure-dark-15};
  --cr-azure-dark-20: #{$cr-azure-dark-20};
  --cr-azure-dark-25: #{$cr-azure-dark-25};
  --cr-azure-dark-30: #{$cr-azure-dark-30};
  --cr-azure-dark-35: #{$cr-azure-dark-35};
  --cr-azure-dark-40: #{$cr-azure-dark-40};
  --cr-azure-dark-45: #{$cr-azure-dark-45};
  --cr-azure-dark-50: #{$cr-azure-dark-50};
  --cr-azure-dark-55: #{$cr-azure-dark-55};
  --cr-azure-dark-60: #{$cr-azure-dark-60};
  --cr-azure-dark-65: #{$cr-azure-dark-65};
  --cr-azure-dark-70: #{$cr-azure-dark-70};
  --cr-azure-dark-75: #{$cr-azure-dark-75};
  --cr-azure-dark-80: #{$cr-azure-dark-80};
  --cr-azure-dark-85: #{$cr-azure-dark-85};
  --cr-azure-dark-90: #{$cr-azure-dark-90};
  --cr-azure-dark-95: #{$cr-azure-dark-95};
  --cr-azure-dark-100: #{$cr-azure-dark-100};

  --cr-blue: #{$cr-blue};
  --cr-blue-light-5: #{$cr-blue-light-5};
  --cr-blue-light-10: #{$cr-blue-light-10};
  --cr-blue-light-15: #{$cr-blue-light-15};
  --cr-blue-light-20: #{$cr-blue-light-20};
  --cr-blue-light-25: #{$cr-blue-light-25};
  --cr-blue-light-30: #{$cr-blue-light-30};
  --cr-blue-light-35: #{$cr-blue-light-35};
  --cr-blue-light-40: #{$cr-blue-light-40};
  --cr-blue-light-45: #{$cr-blue-light-45};
  --cr-blue-light-50: #{$cr-blue-light-50};
  --cr-blue-light-55: #{$cr-blue-light-55};
  --cr-blue-light-60: #{$cr-blue-light-60};
  --cr-blue-light-65: #{$cr-blue-light-65};
  --cr-blue-light-70: #{$cr-blue-light-70};
  --cr-blue-light-75: #{$cr-blue-light-75};
  --cr-blue-light-80: #{$cr-blue-light-80};
  --cr-blue-light-85: #{$cr-blue-light-85};
  --cr-blue-light-90: #{$cr-blue-light-90};
  --cr-blue-light-95: #{$cr-blue-light-95};
  --cr-blue-light-100: #{$cr-blue-light-100};
  --cr-blue-tone-5: #{$cr-blue-tone-5};
  --cr-blue-tone-10: #{$cr-blue-tone-10};
  --cr-blue-tone-15: #{$cr-blue-tone-15};
  --cr-blue-tone-20: #{$cr-blue-tone-20};
  --cr-blue-tone-25: #{$cr-blue-tone-25};
  --cr-blue-tone-30: #{$cr-blue-tone-30};
  --cr-blue-tone-35: #{$cr-blue-tone-35};
  --cr-blue-tone-40: #{$cr-blue-tone-40};
  --cr-blue-tone-45: #{$cr-blue-tone-45};
  --cr-blue-tone-50: #{$cr-blue-tone-50};
  --cr-blue-tone-55: #{$cr-blue-tone-55};
  --cr-blue-tone-60: #{$cr-blue-tone-60};
  --cr-blue-tone-65: #{$cr-blue-tone-65};
  --cr-blue-tone-70: #{$cr-blue-tone-70};
  --cr-blue-tone-75: #{$cr-blue-tone-75};
  --cr-blue-tone-80: #{$cr-blue-tone-80};
  --cr-blue-tone-85: #{$cr-blue-tone-85};
  --cr-blue-tone-90: #{$cr-blue-tone-90};
  --cr-blue-tone-95: #{$cr-blue-tone-95};
  --cr-blue-tone-100: #{$cr-blue-tone-100};
  --cr-blue-dark-5: #{$cr-blue-dark-5};
  --cr-blue-dark-10: #{$cr-blue-dark-10};
  --cr-blue-dark-15: #{$cr-blue-dark-15};
  --cr-blue-dark-20: #{$cr-blue-dark-20};
  --cr-blue-dark-25: #{$cr-blue-dark-25};
  --cr-blue-dark-30: #{$cr-blue-dark-30};
  --cr-blue-dark-35: #{$cr-blue-dark-35};
  --cr-blue-dark-40: #{$cr-blue-dark-40};
  --cr-blue-dark-45: #{$cr-blue-dark-45};
  --cr-blue-dark-50: #{$cr-blue-dark-50};
  --cr-blue-dark-55: #{$cr-blue-dark-55};
  --cr-blue-dark-60: #{$cr-blue-dark-60};
  --cr-blue-dark-65: #{$cr-blue-dark-65};
  --cr-blue-dark-70: #{$cr-blue-dark-70};
  --cr-blue-dark-75: #{$cr-blue-dark-75};
  --cr-blue-dark-80: #{$cr-blue-dark-80};
  --cr-blue-dark-85: #{$cr-blue-dark-85};
  --cr-blue-dark-90: #{$cr-blue-dark-90};
  --cr-blue-dark-95: #{$cr-blue-dark-95};
  --cr-blue-dark-100: #{$cr-blue-dark-100};

  --cr-violet: #{$cr-violet};
  --cr-violet-light-5: #{$cr-violet-light-5};
  --cr-violet-light-10: #{$cr-violet-light-10};
  --cr-violet-light-15: #{$cr-violet-light-15};
  --cr-violet-light-20: #{$cr-violet-light-20};
  --cr-violet-light-25: #{$cr-violet-light-25};
  --cr-violet-light-30: #{$cr-violet-light-30};
  --cr-violet-light-35: #{$cr-violet-light-35};
  --cr-violet-light-40: #{$cr-violet-light-40};
  --cr-violet-light-45: #{$cr-violet-light-45};
  --cr-violet-light-50: #{$cr-violet-light-50};
  --cr-violet-light-55: #{$cr-violet-light-55};
  --cr-violet-light-60: #{$cr-violet-light-60};
  --cr-violet-light-65: #{$cr-violet-light-65};
  --cr-violet-light-70: #{$cr-violet-light-70};
  --cr-violet-light-75: #{$cr-violet-light-75};
  --cr-violet-light-80: #{$cr-violet-light-80};
  --cr-violet-light-85: #{$cr-violet-light-85};
  --cr-violet-light-90: #{$cr-violet-light-90};
  --cr-violet-light-95: #{$cr-violet-light-95};
  --cr-violet-light-100: #{$cr-violet-light-100};
  --cr-violet-tone-5: #{$cr-violet-tone-5};
  --cr-violet-tone-10: #{$cr-violet-tone-10};
  --cr-violet-tone-15: #{$cr-violet-tone-15};
  --cr-violet-tone-20: #{$cr-violet-tone-20};
  --cr-violet-tone-25: #{$cr-violet-tone-25};
  --cr-violet-tone-30: #{$cr-violet-tone-30};
  --cr-violet-tone-35: #{$cr-violet-tone-35};
  --cr-violet-tone-40: #{$cr-violet-tone-40};
  --cr-violet-tone-45: #{$cr-violet-tone-45};
  --cr-violet-tone-50: #{$cr-violet-tone-50};
  --cr-violet-tone-55: #{$cr-violet-tone-55};
  --cr-violet-tone-60: #{$cr-violet-tone-60};
  --cr-violet-tone-65: #{$cr-violet-tone-65};
  --cr-violet-tone-70: #{$cr-violet-tone-70};
  --cr-violet-tone-75: #{$cr-violet-tone-75};
  --cr-violet-tone-80: #{$cr-violet-tone-80};
  --cr-violet-tone-85: #{$cr-violet-tone-85};
  --cr-violet-tone-90: #{$cr-violet-tone-90};
  --cr-violet-tone-95: #{$cr-violet-tone-95};
  --cr-violet-tone-100: #{$cr-violet-tone-100};
  --cr-violet-dark-5: #{$cr-violet-dark-5};
  --cr-violet-dark-10: #{$cr-violet-dark-10};
  --cr-violet-dark-15: #{$cr-violet-dark-15};
  --cr-violet-dark-20: #{$cr-violet-dark-20};
  --cr-violet-dark-25: #{$cr-violet-dark-25};
  --cr-violet-dark-30: #{$cr-violet-dark-30};
  --cr-violet-dark-35: #{$cr-violet-dark-35};
  --cr-violet-dark-40: #{$cr-violet-dark-40};
  --cr-violet-dark-45: #{$cr-violet-dark-45};
  --cr-violet-dark-50: #{$cr-violet-dark-50};
  --cr-violet-dark-55: #{$cr-violet-dark-55};
  --cr-violet-dark-60: #{$cr-violet-dark-60};
  --cr-violet-dark-65: #{$cr-violet-dark-65};
  --cr-violet-dark-70: #{$cr-violet-dark-70};
  --cr-violet-dark-75: #{$cr-violet-dark-75};
  --cr-violet-dark-80: #{$cr-violet-dark-80};
  --cr-violet-dark-85: #{$cr-violet-dark-85};
  --cr-violet-dark-90: #{$cr-violet-dark-90};
  --cr-violet-dark-95: #{$cr-violet-dark-95};
  --cr-violet-dark-100: #{$cr-violet-dark-100};

  --cr-magenta: #{$cr-magenta};
  --cr-magenta-light-5: #{$cr-magenta-light-5};
  --cr-magenta-light-10: #{$cr-magenta-light-10};
  --cr-magenta-light-15: #{$cr-magenta-light-15};
  --cr-magenta-light-20: #{$cr-magenta-light-20};
  --cr-magenta-light-25: #{$cr-magenta-light-25};
  --cr-magenta-light-30: #{$cr-magenta-light-30};
  --cr-magenta-light-35: #{$cr-magenta-light-35};
  --cr-magenta-light-40: #{$cr-magenta-light-40};
  --cr-magenta-light-45: #{$cr-magenta-light-45};
  --cr-magenta-light-50: #{$cr-magenta-light-50};
  --cr-magenta-light-55: #{$cr-magenta-light-55};
  --cr-magenta-light-60: #{$cr-magenta-light-60};
  --cr-magenta-light-65: #{$cr-magenta-light-65};
  --cr-magenta-light-70: #{$cr-magenta-light-70};
  --cr-magenta-light-75: #{$cr-magenta-light-75};
  --cr-magenta-light-80: #{$cr-magenta-light-80};
  --cr-magenta-light-85: #{$cr-magenta-light-85};
  --cr-magenta-light-90: #{$cr-magenta-light-90};
  --cr-magenta-light-95: #{$cr-magenta-light-95};
  --cr-magenta-light-100: #{$cr-magenta-light-100};
  --cr-magenta-tone-5: #{$cr-magenta-tone-5};
  --cr-magenta-tone-10: #{$cr-magenta-tone-10};
  --cr-magenta-tone-15: #{$cr-magenta-tone-15};
  --cr-magenta-tone-20: #{$cr-magenta-tone-20};
  --cr-magenta-tone-25: #{$cr-magenta-tone-25};
  --cr-magenta-tone-30: #{$cr-magenta-tone-30};
  --cr-magenta-tone-35: #{$cr-magenta-tone-35};
  --cr-magenta-tone-40: #{$cr-magenta-tone-40};
  --cr-magenta-tone-45: #{$cr-magenta-tone-45};
  --cr-magenta-tone-50: #{$cr-magenta-tone-50};
  --cr-magenta-tone-55: #{$cr-magenta-tone-55};
  --cr-magenta-tone-60: #{$cr-magenta-tone-60};
  --cr-magenta-tone-65: #{$cr-magenta-tone-65};
  --cr-magenta-tone-70: #{$cr-magenta-tone-70};
  --cr-magenta-tone-75: #{$cr-magenta-tone-75};
  --cr-magenta-tone-80: #{$cr-magenta-tone-80};
  --cr-magenta-tone-85: #{$cr-magenta-tone-85};
  --cr-magenta-tone-90: #{$cr-magenta-tone-90};
  --cr-magenta-tone-95: #{$cr-magenta-tone-95};
  --cr-magenta-tone-100: #{$cr-magenta-tone-100};
  --cr-magenta-dark-5: #{$cr-magenta-dark-5};
  --cr-magenta-dark-10: #{$cr-magenta-dark-10};
  --cr-magenta-dark-15: #{$cr-magenta-dark-15};
  --cr-magenta-dark-20: #{$cr-magenta-dark-20};
  --cr-magenta-dark-25: #{$cr-magenta-dark-25};
  --cr-magenta-dark-30: #{$cr-magenta-dark-30};
  --cr-magenta-dark-35: #{$cr-magenta-dark-35};
  --cr-magenta-dark-40: #{$cr-magenta-dark-40};
  --cr-magenta-dark-45: #{$cr-magenta-dark-45};
  --cr-magenta-dark-50: #{$cr-magenta-dark-50};
  --cr-magenta-dark-55: #{$cr-magenta-dark-55};
  --cr-magenta-dark-60: #{$cr-magenta-dark-60};
  --cr-magenta-dark-65: #{$cr-magenta-dark-65};
  --cr-magenta-dark-70: #{$cr-magenta-dark-70};
  --cr-magenta-dark-75: #{$cr-magenta-dark-75};
  --cr-magenta-dark-80: #{$cr-magenta-dark-80};
  --cr-magenta-dark-85: #{$cr-magenta-dark-85};
  --cr-magenta-dark-90: #{$cr-magenta-dark-90};
  --cr-magenta-dark-95: #{$cr-magenta-dark-95};
  --cr-magenta-dark-100: #{$cr-magenta-dark-100};

  --cr-rose: #{$cr-rose};
  --cr-rose-light-5: #{$cr-rose-light-5};
  --cr-rose-light-10: #{$cr-rose-light-10};
  --cr-rose-light-15: #{$cr-rose-light-15};
  --cr-rose-light-20: #{$cr-rose-light-20};
  --cr-rose-light-25: #{$cr-rose-light-25};
  --cr-rose-light-30: #{$cr-rose-light-30};
  --cr-rose-light-35: #{$cr-rose-light-35};
  --cr-rose-light-40: #{$cr-rose-light-40};
  --cr-rose-light-45: #{$cr-rose-light-45};
  --cr-rose-light-50: #{$cr-rose-light-50};
  --cr-rose-light-55: #{$cr-rose-light-55};
  --cr-rose-light-60: #{$cr-rose-light-60};
  --cr-rose-light-65: #{$cr-rose-light-65};
  --cr-rose-light-70: #{$cr-rose-light-70};
  --cr-rose-light-75: #{$cr-rose-light-75};
  --cr-rose-light-80: #{$cr-rose-light-80};
  --cr-rose-light-85: #{$cr-rose-light-85};
  --cr-rose-light-90: #{$cr-rose-light-90};
  --cr-rose-light-95: #{$cr-rose-light-95};
  --cr-rose-light-100: #{$cr-rose-light-100};
  --cr-rose-tone-5: #{$cr-rose-tone-5};
  --cr-rose-tone-10: #{$cr-rose-tone-10};
  --cr-rose-tone-15: #{$cr-rose-tone-15};
  --cr-rose-tone-20: #{$cr-rose-tone-20};
  --cr-rose-tone-25: #{$cr-rose-tone-25};
  --cr-rose-tone-30: #{$cr-rose-tone-30};
  --cr-rose-tone-35: #{$cr-rose-tone-35};
  --cr-rose-tone-40: #{$cr-rose-tone-40};
  --cr-rose-tone-45: #{$cr-rose-tone-45};
  --cr-rose-tone-50: #{$cr-rose-tone-50};
  --cr-rose-tone-55: #{$cr-rose-tone-55};
  --cr-rose-tone-60: #{$cr-rose-tone-60};
  --cr-rose-tone-65: #{$cr-rose-tone-65};
  --cr-rose-tone-70: #{$cr-rose-tone-70};
  --cr-rose-tone-75: #{$cr-rose-tone-75};
  --cr-rose-tone-80: #{$cr-rose-tone-80};
  --cr-rose-tone-85: #{$cr-rose-tone-85};
  --cr-rose-tone-90: #{$cr-rose-tone-90};
  --cr-rose-tone-95: #{$cr-rose-tone-95};
  --cr-rose-tone-100: #{$cr-rose-tone-100};
  --cr-rose-dark-5: #{$cr-rose-dark-5};
  --cr-rose-dark-10: #{$cr-rose-dark-10};
  --cr-rose-dark-15: #{$cr-rose-dark-15};
  --cr-rose-dark-20: #{$cr-rose-dark-20};
  --cr-rose-dark-25: #{$cr-rose-dark-25};
  --cr-rose-dark-30: #{$cr-rose-dark-30};
  --cr-rose-dark-35: #{$cr-rose-dark-35};
  --cr-rose-dark-40: #{$cr-rose-dark-40};
  --cr-rose-dark-45: #{$cr-rose-dark-45};
  --cr-rose-dark-50: #{$cr-rose-dark-50};
  --cr-rose-dark-55: #{$cr-rose-dark-55};
  --cr-rose-dark-60: #{$cr-rose-dark-60};
  --cr-rose-dark-65: #{$cr-rose-dark-65};
  --cr-rose-dark-70: #{$cr-rose-dark-70};
  --cr-rose-dark-75: #{$cr-rose-dark-75};
  --cr-rose-dark-80: #{$cr-rose-dark-80};
  --cr-rose-dark-85: #{$cr-rose-dark-85};
  --cr-rose-dark-90: #{$cr-rose-dark-90};
  --cr-rose-dark-95: #{$cr-rose-dark-95};
  --cr-rose-dark-100: #{$cr-rose-dark-100};
}
