@import "mixins";
@import "variables";

:root {
  --cr-red: #{$cr-red};
  --cr-red-light-10: #{$cr-red-light-10};
  --cr-red-light-20: #{$cr-red-light-20};
  --cr-red-light-30: #{$cr-red-light-30};
  --cr-red-light-40: #{$cr-red-light-40};
  --cr-red-light-50: #{$cr-red-light-50};
  --cr-red-light-60: #{$cr-red-light-60};
  --cr-red-light-70: #{$cr-red-light-70};
  --cr-red-light-80: #{$cr-red-light-80};
  --cr-red-light-90: #{$cr-red-light-90};
  --cr-red-light-100: #{$cr-red-light-100};
  --cr-red-tone-10: #{$cr-red-tone-10};
  --cr-red-tone-20: #{$cr-red-tone-20};
  --cr-red-tone-30: #{$cr-red-tone-30};
  --cr-red-tone-40: #{$cr-red-tone-40};
  --cr-red-tone-50: #{$cr-red-tone-50};
  --cr-red-tone-60: #{$cr-red-tone-60};
  --cr-red-tone-70: #{$cr-red-tone-70};
  --cr-red-tone-80: #{$cr-red-tone-80};
  --cr-red-tone-90: #{$cr-red-tone-90};
  --cr-red-tone-100: #{$cr-red-tone-100};
  --cr-red-dark-10: #{$cr-red-dark-10};
  --cr-red-dark-20: #{$cr-red-dark-20};
  --cr-red-dark-30: #{$cr-red-dark-30};
  --cr-red-dark-40: #{$cr-red-dark-40};
  --cr-red-dark-50: #{$cr-red-dark-50};
  --cr-red-dark-60: #{$cr-red-dark-60};
  --cr-red-dark-70: #{$cr-red-dark-70};
  --cr-red-dark-80: #{$cr-red-dark-80};
  --cr-red-dark-90: #{$cr-red-dark-90};
  --cr-red-dark-100: #{$cr-red-dark-100};

  --cr-orange: #{$cr-orange};
  --cr-orange-light-10: #{$cr-orange-light-10};
  --cr-orange-light-20: #{$cr-orange-light-20};
  --cr-orange-light-30: #{$cr-orange-light-30};
  --cr-orange-light-40: #{$cr-orange-light-40};
  --cr-orange-light-50: #{$cr-orange-light-50};
  --cr-orange-light-60: #{$cr-orange-light-60};
  --cr-orange-light-70: #{$cr-orange-light-70};
  --cr-orange-light-80: #{$cr-orange-light-80};
  --cr-orange-light-90: #{$cr-orange-light-90};
  --cr-orange-light-100: #{$cr-orange-light-100};
  --cr-orange-tone-10: #{$cr-orange-tone-10};
  --cr-orange-tone-20: #{$cr-orange-tone-20};
  --cr-orange-tone-30: #{$cr-orange-tone-30};
  --cr-orange-tone-40: #{$cr-orange-tone-40};
  --cr-orange-tone-50: #{$cr-orange-tone-50};
  --cr-orange-tone-60: #{$cr-orange-tone-60};
  --cr-orange-tone-70: #{$cr-orange-tone-70};
  --cr-orange-tone-80: #{$cr-orange-tone-80};
  --cr-orange-tone-90: #{$cr-orange-tone-90};
  --cr-orange-tone-100: #{$cr-orange-tone-100};
  --cr-orange-dark-10: #{$cr-orange-dark-10};
  --cr-orange-dark-20: #{$cr-orange-dark-20};
  --cr-orange-dark-30: #{$cr-orange-dark-30};
  --cr-orange-dark-40: #{$cr-orange-dark-40};
  --cr-orange-dark-50: #{$cr-orange-dark-50};
  --cr-orange-dark-60: #{$cr-orange-dark-60};
  --cr-orange-dark-70: #{$cr-orange-dark-70};
  --cr-orange-dark-80: #{$cr-orange-dark-80};
  --cr-orange-dark-90: #{$cr-orange-dark-90};
  --cr-orange-dark-100: #{$cr-orange-dark-100};

  --cr-yellow: #{$cr-yellow};
  --cr-yellow-light-10: #{$cr-yellow-light-10};
  --cr-yellow-light-20: #{$cr-yellow-light-20};
  --cr-yellow-light-30: #{$cr-yellow-light-30};
  --cr-yellow-light-40: #{$cr-yellow-light-40};
  --cr-yellow-light-50: #{$cr-yellow-light-50};
  --cr-yellow-light-60: #{$cr-yellow-light-60};
  --cr-yellow-light-70: #{$cr-yellow-light-70};
  --cr-yellow-light-80: #{$cr-yellow-light-80};
  --cr-yellow-light-90: #{$cr-yellow-light-90};
  --cr-yellow-light-100: #{$cr-yellow-light-100};
  --cr-yellow-tone-10: #{$cr-yellow-tone-10};
  --cr-yellow-tone-20: #{$cr-yellow-tone-20};
  --cr-yellow-tone-30: #{$cr-yellow-tone-30};
  --cr-yellow-tone-40: #{$cr-yellow-tone-40};
  --cr-yellow-tone-50: #{$cr-yellow-tone-50};
  --cr-yellow-tone-60: #{$cr-yellow-tone-60};
  --cr-yellow-tone-70: #{$cr-yellow-tone-70};
  --cr-yellow-tone-80: #{$cr-yellow-tone-80};
  --cr-yellow-tone-90: #{$cr-yellow-tone-90};
  --cr-yellow-tone-100: #{$cr-yellow-tone-100};
  --cr-yellow-dark-10: #{$cr-yellow-dark-10};
  --cr-yellow-dark-20: #{$cr-yellow-dark-20};
  --cr-yellow-dark-30: #{$cr-yellow-dark-30};
  --cr-yellow-dark-40: #{$cr-yellow-dark-40};
  --cr-yellow-dark-50: #{$cr-yellow-dark-50};
  --cr-yellow-dark-60: #{$cr-yellow-dark-60};
  --cr-yellow-dark-70: #{$cr-yellow-dark-70};
  --cr-yellow-dark-80: #{$cr-yellow-dark-80};
  --cr-yellow-dark-90: #{$cr-yellow-dark-90};
  --cr-yellow-dark-100: #{$cr-yellow-dark-100};

  --cr-chartreuseGreen: #{$cr-chartreuseGreen};
  --cr-chartreuseGreen-light-10: #{$cr-chartreuseGreen-light-10};
  --cr-chartreuseGreen-light-20: #{$cr-chartreuseGreen-light-20};
  --cr-chartreuseGreen-light-30: #{$cr-chartreuseGreen-light-30};
  --cr-chartreuseGreen-light-40: #{$cr-chartreuseGreen-light-40};
  --cr-chartreuseGreen-light-50: #{$cr-chartreuseGreen-light-50};
  --cr-chartreuseGreen-light-60: #{$cr-chartreuseGreen-light-60};
  --cr-chartreuseGreen-light-70: #{$cr-chartreuseGreen-light-70};
  --cr-chartreuseGreen-light-80: #{$cr-chartreuseGreen-light-80};
  --cr-chartreuseGreen-light-90: #{$cr-chartreuseGreen-light-90};
  --cr-chartreuseGreen-light-100: #{$cr-chartreuseGreen-light-100};
  --cr-chartreuseGreen-tone-10: #{$cr-chartreuseGreen-tone-10};
  --cr-chartreuseGreen-tone-20: #{$cr-chartreuseGreen-tone-20};
  --cr-chartreuseGreen-tone-30: #{$cr-chartreuseGreen-tone-30};
  --cr-chartreuseGreen-tone-40: #{$cr-chartreuseGreen-tone-40};
  --cr-chartreuseGreen-tone-50: #{$cr-chartreuseGreen-tone-50};
  --cr-chartreuseGreen-tone-60: #{$cr-chartreuseGreen-tone-60};
  --cr-chartreuseGreen-tone-70: #{$cr-chartreuseGreen-tone-70};
  --cr-chartreuseGreen-tone-80: #{$cr-chartreuseGreen-tone-80};
  --cr-chartreuseGreen-tone-90: #{$cr-chartreuseGreen-tone-90};
  --cr-chartreuseGreen-tone-100: #{$cr-chartreuseGreen-tone-100};
  --cr-chartreuseGreen-dark-10: #{$cr-chartreuseGreen-dark-10};
  --cr-chartreuseGreen-dark-20: #{$cr-chartreuseGreen-dark-20};
  --cr-chartreuseGreen-dark-30: #{$cr-chartreuseGreen-dark-30};
  --cr-chartreuseGreen-dark-40: #{$cr-chartreuseGreen-dark-40};
  --cr-chartreuseGreen-dark-50: #{$cr-chartreuseGreen-dark-50};
  --cr-chartreuseGreen-dark-60: #{$cr-chartreuseGreen-dark-60};
  --cr-chartreuseGreen-dark-70: #{$cr-chartreuseGreen-dark-70};
  --cr-chartreuseGreen-dark-80: #{$cr-chartreuseGreen-dark-80};
  --cr-chartreuseGreen-dark-90: #{$cr-chartreuseGreen-dark-90};
  --cr-chartreuseGreen-dark-100: #{$cr-chartreuseGreen-dark-100};

  --cr-green: #{$cr-green};
  --cr-green-light-10: #{$cr-green-light-10};
  --cr-green-light-20: #{$cr-green-light-20};
  --cr-green-light-30: #{$cr-green-light-30};
  --cr-green-light-40: #{$cr-green-light-40};
  --cr-green-light-50: #{$cr-green-light-50};
  --cr-green-light-60: #{$cr-green-light-60};
  --cr-green-light-70: #{$cr-green-light-70};
  --cr-green-light-80: #{$cr-green-light-80};
  --cr-green-light-90: #{$cr-green-light-90};
  --cr-green-light-100: #{$cr-green-light-100};
  --cr-green-tone-10: #{$cr-green-tone-10};
  --cr-green-tone-20: #{$cr-green-tone-20};
  --cr-green-tone-30: #{$cr-green-tone-30};
  --cr-green-tone-40: #{$cr-green-tone-40};
  --cr-green-tone-50: #{$cr-green-tone-50};
  --cr-green-tone-60: #{$cr-green-tone-60};
  --cr-green-tone-70: #{$cr-green-tone-70};
  --cr-green-tone-80: #{$cr-green-tone-80};
  --cr-green-tone-90: #{$cr-green-tone-90};
  --cr-green-tone-100: #{$cr-green-tone-100};
  --cr-green-dark-10: #{$cr-green-dark-10};
  --cr-green-dark-20: #{$cr-green-dark-20};
  --cr-green-dark-30: #{$cr-green-dark-30};
  --cr-green-dark-40: #{$cr-green-dark-40};
  --cr-green-dark-50: #{$cr-green-dark-50};
  --cr-green-dark-60: #{$cr-green-dark-60};
  --cr-green-dark-70: #{$cr-green-dark-70};
  --cr-green-dark-80: #{$cr-green-dark-80};
  --cr-green-dark-90: #{$cr-green-dark-90};
  --cr-green-dark-100: #{$cr-green-dark-100};

  --cr-springGreen: #{$cr-springGreen};
  --cr-springGreen-light-10: #{$cr-springGreen-light-10};
  --cr-springGreen-light-20: #{$cr-springGreen-light-20};
  --cr-springGreen-light-30: #{$cr-springGreen-light-30};
  --cr-springGreen-light-40: #{$cr-springGreen-light-40};
  --cr-springGreen-light-50: #{$cr-springGreen-light-50};
  --cr-springGreen-light-60: #{$cr-springGreen-light-60};
  --cr-springGreen-light-70: #{$cr-springGreen-light-70};
  --cr-springGreen-light-80: #{$cr-springGreen-light-80};
  --cr-springGreen-light-90: #{$cr-springGreen-light-90};
  --cr-springGreen-light-100: #{$cr-springGreen-light-100};
  --cr-springGreen-tone-10: #{$cr-springGreen-tone-10};
  --cr-springGreen-tone-20: #{$cr-springGreen-tone-20};
  --cr-springGreen-tone-30: #{$cr-springGreen-tone-30};
  --cr-springGreen-tone-40: #{$cr-springGreen-tone-40};
  --cr-springGreen-tone-50: #{$cr-springGreen-tone-50};
  --cr-springGreen-tone-60: #{$cr-springGreen-tone-60};
  --cr-springGreen-tone-70: #{$cr-springGreen-tone-70};
  --cr-springGreen-tone-80: #{$cr-springGreen-tone-80};
  --cr-springGreen-tone-90: #{$cr-springGreen-tone-90};
  --cr-springGreen-tone-100: #{$cr-springGreen-tone-100};
  --cr-springGreen-dark-10: #{$cr-springGreen-dark-10};
  --cr-springGreen-dark-20: #{$cr-springGreen-dark-20};
  --cr-springGreen-dark-30: #{$cr-springGreen-dark-30};
  --cr-springGreen-dark-40: #{$cr-springGreen-dark-40};
  --cr-springGreen-dark-50: #{$cr-springGreen-dark-50};
  --cr-springGreen-dark-60: #{$cr-springGreen-dark-60};
  --cr-springGreen-dark-70: #{$cr-springGreen-dark-70};
  --cr-springGreen-dark-80: #{$cr-springGreen-dark-80};
  --cr-springGreen-dark-90: #{$cr-springGreen-dark-90};
  --cr-springGreen-dark-100: #{$cr-springGreen-dark-100};

  --cr-cyan: #{$cr-cyan};
  --cr-cyan-light-10: #{$cr-cyan-light-10};
  --cr-cyan-light-20: #{$cr-cyan-light-20};
  --cr-cyan-light-30: #{$cr-cyan-light-30};
  --cr-cyan-light-40: #{$cr-cyan-light-40};
  --cr-cyan-light-50: #{$cr-cyan-light-50};
  --cr-cyan-light-60: #{$cr-cyan-light-60};
  --cr-cyan-light-70: #{$cr-cyan-light-70};
  --cr-cyan-light-80: #{$cr-cyan-light-80};
  --cr-cyan-light-90: #{$cr-cyan-light-90};
  --cr-cyan-light-100: #{$cr-cyan-light-100};
  --cr-cyan-tone-10: #{$cr-cyan-tone-10};
  --cr-cyan-tone-20: #{$cr-cyan-tone-20};
  --cr-cyan-tone-30: #{$cr-cyan-tone-30};
  --cr-cyan-tone-40: #{$cr-cyan-tone-40};
  --cr-cyan-tone-50: #{$cr-cyan-tone-50};
  --cr-cyan-tone-60: #{$cr-cyan-tone-60};
  --cr-cyan-tone-70: #{$cr-cyan-tone-70};
  --cr-cyan-tone-80: #{$cr-cyan-tone-80};
  --cr-cyan-tone-90: #{$cr-cyan-tone-90};
  --cr-cyan-tone-100: #{$cr-cyan-tone-100};
  --cr-cyan-dark-10: #{$cr-cyan-dark-10};
  --cr-cyan-dark-20: #{$cr-cyan-dark-20};
  --cr-cyan-dark-30: #{$cr-cyan-dark-30};
  --cr-cyan-dark-40: #{$cr-cyan-dark-40};
  --cr-cyan-dark-50: #{$cr-cyan-dark-50};
  --cr-cyan-dark-60: #{$cr-cyan-dark-60};
  --cr-cyan-dark-70: #{$cr-cyan-dark-70};
  --cr-cyan-dark-80: #{$cr-cyan-dark-80};
  --cr-cyan-dark-90: #{$cr-cyan-dark-90};
  --cr-cyan-dark-100: #{$cr-cyan-dark-100};

  --cr-azure: #{$cr-azure};
  --cr-azure-light-10: #{$cr-azure-light-10};
  --cr-azure-light-20: #{$cr-azure-light-20};
  --cr-azure-light-30: #{$cr-azure-light-30};
  --cr-azure-light-40: #{$cr-azure-light-40};
  --cr-azure-light-50: #{$cr-azure-light-50};
  --cr-azure-light-60: #{$cr-azure-light-60};
  --cr-azure-light-70: #{$cr-azure-light-70};
  --cr-azure-light-80: #{$cr-azure-light-80};
  --cr-azure-light-90: #{$cr-azure-light-90};
  --cr-azure-light-100: #{$cr-azure-light-100};
  --cr-azure-tone-10: #{$cr-azure-tone-10};
  --cr-azure-tone-20: #{$cr-azure-tone-20};
  --cr-azure-tone-30: #{$cr-azure-tone-30};
  --cr-azure-tone-40: #{$cr-azure-tone-40};
  --cr-azure-tone-50: #{$cr-azure-tone-50};
  --cr-azure-tone-60: #{$cr-azure-tone-60};
  --cr-azure-tone-70: #{$cr-azure-tone-70};
  --cr-azure-tone-80: #{$cr-azure-tone-80};
  --cr-azure-tone-90: #{$cr-azure-tone-90};
  --cr-azure-tone-100: #{$cr-azure-tone-100};
  --cr-azure-dark-10: #{$cr-azure-dark-10};
  --cr-azure-dark-20: #{$cr-azure-dark-20};
  --cr-azure-dark-30: #{$cr-azure-dark-30};
  --cr-azure-dark-40: #{$cr-azure-dark-40};
  --cr-azure-dark-50: #{$cr-azure-dark-50};
  --cr-azure-dark-60: #{$cr-azure-dark-60};
  --cr-azure-dark-70: #{$cr-azure-dark-70};
  --cr-azure-dark-80: #{$cr-azure-dark-80};
  --cr-azure-dark-90: #{$cr-azure-dark-90};
  --cr-azure-dark-100: #{$cr-azure-dark-100};

  --cr-blue: #{$cr-blue};
  --cr-blue-light-10: #{$cr-blue-light-10};
  --cr-blue-light-20: #{$cr-blue-light-20};
  --cr-blue-light-30: #{$cr-blue-light-30};
  --cr-blue-light-40: #{$cr-blue-light-40};
  --cr-blue-light-50: #{$cr-blue-light-50};
  --cr-blue-light-60: #{$cr-blue-light-60};
  --cr-blue-light-70: #{$cr-blue-light-70};
  --cr-blue-light-80: #{$cr-blue-light-80};
  --cr-blue-light-90: #{$cr-blue-light-90};
  --cr-blue-light-100: #{$cr-blue-light-100};
  --cr-blue-tone-10: #{$cr-blue-tone-10};
  --cr-blue-tone-20: #{$cr-blue-tone-20};
  --cr-blue-tone-30: #{$cr-blue-tone-30};
  --cr-blue-tone-40: #{$cr-blue-tone-40};
  --cr-blue-tone-50: #{$cr-blue-tone-50};
  --cr-blue-tone-60: #{$cr-blue-tone-60};
  --cr-blue-tone-70: #{$cr-blue-tone-70};
  --cr-blue-tone-80: #{$cr-blue-tone-80};
  --cr-blue-tone-90: #{$cr-blue-tone-90};
  --cr-blue-tone-100: #{$cr-blue-tone-100};
  --cr-blue-dark-10: #{$cr-blue-dark-10};
  --cr-blue-dark-20: #{$cr-blue-dark-20};
  --cr-blue-dark-30: #{$cr-blue-dark-30};
  --cr-blue-dark-40: #{$cr-blue-dark-40};
  --cr-blue-dark-50: #{$cr-blue-dark-50};
  --cr-blue-dark-60: #{$cr-blue-dark-60};
  --cr-blue-dark-70: #{$cr-blue-dark-70};
  --cr-blue-dark-80: #{$cr-blue-dark-80};
  --cr-blue-dark-90: #{$cr-blue-dark-90};
  --cr-blue-dark-100: #{$cr-blue-dark-100};

  --cr-violet: #{$cr-violet};
  --cr-violet-light-10: #{$cr-violet-light-10};
  --cr-violet-light-20: #{$cr-violet-light-20};
  --cr-violet-light-30: #{$cr-violet-light-30};
  --cr-violet-light-40: #{$cr-violet-light-40};
  --cr-violet-light-50: #{$cr-violet-light-50};
  --cr-violet-light-60: #{$cr-violet-light-60};
  --cr-violet-light-70: #{$cr-violet-light-70};
  --cr-violet-light-80: #{$cr-violet-light-80};
  --cr-violet-light-90: #{$cr-violet-light-90};
  --cr-violet-light-100: #{$cr-violet-light-100};
  --cr-violet-tone-10: #{$cr-violet-tone-10};
  --cr-violet-tone-20: #{$cr-violet-tone-20};
  --cr-violet-tone-30: #{$cr-violet-tone-30};
  --cr-violet-tone-40: #{$cr-violet-tone-40};
  --cr-violet-tone-50: #{$cr-violet-tone-50};
  --cr-violet-tone-60: #{$cr-violet-tone-60};
  --cr-violet-tone-70: #{$cr-violet-tone-70};
  --cr-violet-tone-80: #{$cr-violet-tone-80};
  --cr-violet-tone-90: #{$cr-violet-tone-90};
  --cr-violet-tone-100: #{$cr-violet-tone-100};
  --cr-violet-dark-10: #{$cr-violet-dark-10};
  --cr-violet-dark-20: #{$cr-violet-dark-20};
  --cr-violet-dark-30: #{$cr-violet-dark-30};
  --cr-violet-dark-40: #{$cr-violet-dark-40};
  --cr-violet-dark-50: #{$cr-violet-dark-50};
  --cr-violet-dark-60: #{$cr-violet-dark-60};
  --cr-violet-dark-70: #{$cr-violet-dark-70};
  --cr-violet-dark-80: #{$cr-violet-dark-80};
  --cr-violet-dark-90: #{$cr-violet-dark-90};
  --cr-violet-dark-100: #{$cr-violet-dark-100};

  --cr-magenta: #{$cr-magenta};
  --cr-magenta-light-10: #{$cr-magenta-light-10};
  --cr-magenta-light-20: #{$cr-magenta-light-20};
  --cr-magenta-light-30: #{$cr-magenta-light-30};
  --cr-magenta-light-40: #{$cr-magenta-light-40};
  --cr-magenta-light-50: #{$cr-magenta-light-50};
  --cr-magenta-light-60: #{$cr-magenta-light-60};
  --cr-magenta-light-70: #{$cr-magenta-light-70};
  --cr-magenta-light-80: #{$cr-magenta-light-80};
  --cr-magenta-light-90: #{$cr-magenta-light-90};
  --cr-magenta-light-100: #{$cr-magenta-light-100};
  --cr-magenta-tone-10: #{$cr-magenta-tone-10};
  --cr-magenta-tone-20: #{$cr-magenta-tone-20};
  --cr-magenta-tone-30: #{$cr-magenta-tone-30};
  --cr-magenta-tone-40: #{$cr-magenta-tone-40};
  --cr-magenta-tone-50: #{$cr-magenta-tone-50};
  --cr-magenta-tone-60: #{$cr-magenta-tone-60};
  --cr-magenta-tone-70: #{$cr-magenta-tone-70};
  --cr-magenta-tone-80: #{$cr-magenta-tone-80};
  --cr-magenta-tone-90: #{$cr-magenta-tone-90};
  --cr-magenta-tone-100: #{$cr-magenta-tone-100};
  --cr-magenta-dark-10: #{$cr-magenta-dark-10};
  --cr-magenta-dark-20: #{$cr-magenta-dark-20};
  --cr-magenta-dark-30: #{$cr-magenta-dark-30};
  --cr-magenta-dark-40: #{$cr-magenta-dark-40};
  --cr-magenta-dark-50: #{$cr-magenta-dark-50};
  --cr-magenta-dark-60: #{$cr-magenta-dark-60};
  --cr-magenta-dark-70: #{$cr-magenta-dark-70};
  --cr-magenta-dark-80: #{$cr-magenta-dark-80};
  --cr-magenta-dark-90: #{$cr-magenta-dark-90};
  --cr-magenta-dark-100: #{$cr-magenta-dark-100};

  --cr-rose: #{$cr-rose};
  --cr-rose-light-10: #{$cr-rose-light-10};
  --cr-rose-light-20: #{$cr-rose-light-20};
  --cr-rose-light-30: #{$cr-rose-light-30};
  --cr-rose-light-40: #{$cr-rose-light-40};
  --cr-rose-light-50: #{$cr-rose-light-50};
  --cr-rose-light-60: #{$cr-rose-light-60};
  --cr-rose-light-70: #{$cr-rose-light-70};
  --cr-rose-light-80: #{$cr-rose-light-80};
  --cr-rose-light-90: #{$cr-rose-light-90};
  --cr-rose-light-100: #{$cr-rose-light-100};
  --cr-rose-tone-10: #{$cr-rose-tone-10};
  --cr-rose-tone-20: #{$cr-rose-tone-20};
  --cr-rose-tone-30: #{$cr-rose-tone-30};
  --cr-rose-tone-40: #{$cr-rose-tone-40};
  --cr-rose-tone-50: #{$cr-rose-tone-50};
  --cr-rose-tone-60: #{$cr-rose-tone-60};
  --cr-rose-tone-70: #{$cr-rose-tone-70};
  --cr-rose-tone-80: #{$cr-rose-tone-80};
  --cr-rose-tone-90: #{$cr-rose-tone-90};
  --cr-rose-tone-100: #{$cr-rose-tone-100};
  --cr-rose-dark-10: #{$cr-rose-dark-10};
  --cr-rose-dark-20: #{$cr-rose-dark-20};
  --cr-rose-dark-30: #{$cr-rose-dark-30};
  --cr-rose-dark-40: #{$cr-rose-dark-40};
  --cr-rose-dark-50: #{$cr-rose-dark-50};
  --cr-rose-dark-60: #{$cr-rose-dark-60};
  --cr-rose-dark-70: #{$cr-rose-dark-70};
  --cr-rose-dark-80: #{$cr-rose-dark-80};
  --cr-rose-dark-90: #{$cr-rose-dark-90};
  --cr-rose-dark-100: #{$cr-rose-dark-100};
}
