@import "variables";

:root {
  --cr-secondary: #{$cr-secondary};

  --cr-secondary-light-5: #{$cr-secondary-light-5};
  --cr-secondary-light-10: #{$cr-secondary-light-10};
  --cr-secondary-light-15: #{$cr-secondary-light-15};
  --cr-secondary-light-20: #{$cr-secondary-light-20};
  --cr-secondary-light-25: #{$cr-secondary-light-25};
  --cr-secondary-light-30: #{$cr-secondary-light-30};
  --cr-secondary-light-35: #{$cr-secondary-light-35};
  --cr-secondary-light-40: #{$cr-secondary-light-40};
  --cr-secondary-light-45: #{$cr-secondary-light-45};
  --cr-secondary-light-50: #{$cr-secondary-light-50};
  --cr-secondary-light-55: #{$cr-secondary-light-55};
  --cr-secondary-light-60: #{$cr-secondary-light-60};
  --cr-secondary-light-65: #{$cr-secondary-light-65};
  --cr-secondary-light-70: #{$cr-secondary-light-70};
  --cr-secondary-light-75: #{$cr-secondary-light-75};
  --cr-secondary-light-80: #{$cr-secondary-light-80};
  --cr-secondary-light-85: #{$cr-secondary-light-85};
  --cr-secondary-light-90: #{$cr-secondary-light-90};
  --cr-secondary-light-95: #{$cr-secondary-light-95};
  --cr-secondary-light-100: #{$cr-secondary-light-100};

  --cr-secondary-tone-5: #{$cr-secondary-tone-5};
  --cr-secondary-tone-10: #{$cr-secondary-tone-10};
  --cr-secondary-tone-15: #{$cr-secondary-tone-15};
  --cr-secondary-tone-20: #{$cr-secondary-tone-20};
  --cr-secondary-tone-25: #{$cr-secondary-tone-25};
  --cr-secondary-tone-30: #{$cr-secondary-tone-30};
  --cr-secondary-tone-35: #{$cr-secondary-tone-35};
  --cr-secondary-tone-40: #{$cr-secondary-tone-40};
  --cr-secondary-tone-45: #{$cr-secondary-tone-45};
  --cr-secondary-tone-50: #{$cr-secondary-tone-50};
  --cr-secondary-tone-55: #{$cr-secondary-tone-55};
  --cr-secondary-tone-60: #{$cr-secondary-tone-60};
  --cr-secondary-tone-65: #{$cr-secondary-tone-65};
  --cr-secondary-tone-70: #{$cr-secondary-tone-70};
  --cr-secondary-tone-75: #{$cr-secondary-tone-75};
  --cr-secondary-tone-80: #{$cr-secondary-tone-80};
  --cr-secondary-tone-85: #{$cr-secondary-tone-85};
  --cr-secondary-tone-90: #{$cr-secondary-tone-90};
  --cr-secondary-tone-95: #{$cr-secondary-tone-95};
  --cr-secondary-tone-100: #{$cr-secondary-tone-100};

  --cr-secondary-dark-5: #{$cr-secondary-dark-5};
  --cr-secondary-dark-10: #{$cr-secondary-dark-10};
  --cr-secondary-dark-15: #{$cr-secondary-dark-15};
  --cr-secondary-dark-20: #{$cr-secondary-dark-20};
  --cr-secondary-dark-25: #{$cr-secondary-dark-25};
  --cr-secondary-dark-30: #{$cr-secondary-dark-30};
  --cr-secondary-dark-35: #{$cr-secondary-dark-35};
  --cr-secondary-dark-40: #{$cr-secondary-dark-40};
  --cr-secondary-dark-45: #{$cr-secondary-dark-45};
  --cr-secondary-dark-50: #{$cr-secondary-dark-50};
  --cr-secondary-dark-55: #{$cr-secondary-dark-55};
  --cr-secondary-dark-60: #{$cr-secondary-dark-60};
  --cr-secondary-dark-65: #{$cr-secondary-dark-65};
  --cr-secondary-dark-70: #{$cr-secondary-dark-70};
  --cr-secondary-dark-75: #{$cr-secondary-dark-75};
  --cr-secondary-dark-80: #{$cr-secondary-dark-80};
  --cr-secondary-dark-85: #{$cr-secondary-dark-85};
  --cr-secondary-dark-90: #{$cr-secondary-dark-90};
  --cr-secondary-dark-95: #{$cr-secondary-dark-95};
  --cr-secondary-dark-100: #{$cr-secondary-dark-100};
}
