@import "variables";

:root {
  --cr-shadow-2: #{$cr-shadow-2};
  --cr-shadow-4: #{$cr-shadow-4};
  --cr-shadow-6: #{$cr-shadow-6};
  --cr-shadow-8: #{$cr-shadow-8};
  --cr-shadow-10: #{$cr-shadow-10};
  --cr-shadow-12: #{$cr-shadow-12};
  --cr-shadow-14: #{$cr-shadow-14};
  --cr-shadow-16: #{$cr-shadow-16};
  --cr-shadow-18: #{$cr-shadow-18};
  --cr-shadow-20: #{$cr-shadow-20};
  --cr-shadow-22: #{$cr-shadow-22};
  --cr-shadow-24: #{$cr-shadow-24};
  --cr-shadow-26: #{$cr-shadow-26};
  --cr-shadow-28: #{$cr-shadow-28};
  --cr-shadow-30: #{$cr-shadow-30};
  --cr-shadow-32: #{$cr-shadow-32};
  --cr-shadow-34: #{$cr-shadow-34};
  --cr-shadow-36: #{$cr-shadow-36};
  --cr-shadow-38: #{$cr-shadow-38};
  --cr-shadow-40: #{$cr-shadow-40};
  --cr-shadow-42: #{$cr-shadow-42};
  --cr-shadow-44: #{$cr-shadow-44};
  --cr-shadow-46: #{$cr-shadow-46};
  --cr-shadow-48: #{$cr-shadow-48};
  --cr-shadow-50: #{$cr-shadow-50};
  --cr-shadow-52: #{$cr-shadow-52};
  --cr-shadow-54: #{$cr-shadow-54};
  --cr-shadow-56: #{$cr-shadow-56};
  --cr-shadow-58: #{$cr-shadow-58};
  --cr-shadow-60: #{$cr-shadow-60};
  --cr-shadow-62: #{$cr-shadow-62};
  --cr-shadow-64: #{$cr-shadow-64};
  --cr-shadow-66: #{$cr-shadow-66};
  --cr-shadow-68: #{$cr-shadow-68};
  --cr-shadow-70: #{$cr-shadow-70};
  --cr-shadow-72: #{$cr-shadow-72};
  --cr-shadow-74: #{$cr-shadow-74};
  --cr-shadow-76: #{$cr-shadow-76};
  --cr-shadow-78: #{$cr-shadow-78};
  --cr-shadow-80: #{$cr-shadow-80};
  --cr-shadow-82: #{$cr-shadow-82};
  --cr-shadow-84: #{$cr-shadow-84};
  --cr-shadow-86: #{$cr-shadow-86};
  --cr-shadow-88: #{$cr-shadow-88};
  --cr-shadow-90: #{$cr-shadow-90};
  --cr-shadow-92: #{$cr-shadow-92};
  --cr-shadow-94: #{$cr-shadow-94};
  --cr-shadow-96: #{$cr-shadow-96};
  --cr-shadow-98: #{$cr-shadow-98};
  --cr-shadow-100: #{$cr-shadow-100};
}
