@import "variables";

:root {
  --cr-tertiary: #{$cr-tertiary};

  --cr-tertiary-light-1: #{$cr-tertiary-light-1};
  --cr-tertiary-light-2: #{$cr-tertiary-light-2};
  --cr-tertiary-light-3: #{$cr-tertiary-light-3};
  --cr-tertiary-light-4: #{$cr-tertiary-light-4};
  --cr-tertiary-light-5: #{$cr-tertiary-light-5};
  --cr-tertiary-light-6: #{$cr-tertiary-light-6};
  --cr-tertiary-light-7: #{$cr-tertiary-light-7};
  --cr-tertiary-light-8: #{$cr-tertiary-light-8};
  --cr-tertiary-light-9: #{$cr-tertiary-light-9};
  --cr-tertiary-light-10: #{$cr-tertiary-light-10};
  --cr-tertiary-light-11: #{$cr-tertiary-light-11};
  --cr-tertiary-light-12: #{$cr-tertiary-light-12};
  --cr-tertiary-light-13: #{$cr-tertiary-light-13};
  --cr-tertiary-light-14: #{$cr-tertiary-light-14};
  --cr-tertiary-light-15: #{$cr-tertiary-light-15};
  --cr-tertiary-light-16: #{$cr-tertiary-light-16};
  --cr-tertiary-light-17: #{$cr-tertiary-light-17};
  --cr-tertiary-light-18: #{$cr-tertiary-light-18};
  --cr-tertiary-light-19: #{$cr-tertiary-light-19};
  --cr-tertiary-light-20: #{$cr-tertiary-light-20};
  --cr-tertiary-light-21: #{$cr-tertiary-light-21};
  --cr-tertiary-light-22: #{$cr-tertiary-light-22};
  --cr-tertiary-light-23: #{$cr-tertiary-light-23};
  --cr-tertiary-light-24: #{$cr-tertiary-light-24};
  --cr-tertiary-light-25: #{$cr-tertiary-light-25};
  --cr-tertiary-light-26: #{$cr-tertiary-light-26};
  --cr-tertiary-light-27: #{$cr-tertiary-light-27};
  --cr-tertiary-light-28: #{$cr-tertiary-light-28};
  --cr-tertiary-light-29: #{$cr-tertiary-light-29};
  --cr-tertiary-light-30: #{$cr-tertiary-light-30};
  --cr-tertiary-light-31: #{$cr-tertiary-light-31};
  --cr-tertiary-light-32: #{$cr-tertiary-light-32};
  --cr-tertiary-light-33: #{$cr-tertiary-light-33};
  --cr-tertiary-light-34: #{$cr-tertiary-light-34};
  --cr-tertiary-light-35: #{$cr-tertiary-light-35};
  --cr-tertiary-light-36: #{$cr-tertiary-light-36};
  --cr-tertiary-light-37: #{$cr-tertiary-light-37};
  --cr-tertiary-light-38: #{$cr-tertiary-light-38};
  --cr-tertiary-light-39: #{$cr-tertiary-light-39};
  --cr-tertiary-light-40: #{$cr-tertiary-light-40};
  --cr-tertiary-light-41: #{$cr-tertiary-light-41};
  --cr-tertiary-light-42: #{$cr-tertiary-light-42};
  --cr-tertiary-light-43: #{$cr-tertiary-light-43};
  --cr-tertiary-light-44: #{$cr-tertiary-light-44};
  --cr-tertiary-light-45: #{$cr-tertiary-light-45};
  --cr-tertiary-light-46: #{$cr-tertiary-light-46};
  --cr-tertiary-light-47: #{$cr-tertiary-light-47};
  --cr-tertiary-light-48: #{$cr-tertiary-light-48};
  --cr-tertiary-light-49: #{$cr-tertiary-light-49};
  --cr-tertiary-light-50: #{$cr-tertiary-light-50};
  --cr-tertiary-light-51: #{$cr-tertiary-light-51};
  --cr-tertiary-light-52: #{$cr-tertiary-light-52};
  --cr-tertiary-light-53: #{$cr-tertiary-light-53};
  --cr-tertiary-light-54: #{$cr-tertiary-light-54};
  --cr-tertiary-light-55: #{$cr-tertiary-light-55};
  --cr-tertiary-light-56: #{$cr-tertiary-light-56};
  --cr-tertiary-light-57: #{$cr-tertiary-light-57};
  --cr-tertiary-light-58: #{$cr-tertiary-light-58};
  --cr-tertiary-light-59: #{$cr-tertiary-light-59};
  --cr-tertiary-light-60: #{$cr-tertiary-light-60};
  --cr-tertiary-light-61: #{$cr-tertiary-light-61};
  --cr-tertiary-light-62: #{$cr-tertiary-light-62};
  --cr-tertiary-light-63: #{$cr-tertiary-light-63};
  --cr-tertiary-light-64: #{$cr-tertiary-light-64};
  --cr-tertiary-light-65: #{$cr-tertiary-light-65};
  --cr-tertiary-light-66: #{$cr-tertiary-light-66};
  --cr-tertiary-light-67: #{$cr-tertiary-light-67};
  --cr-tertiary-light-68: #{$cr-tertiary-light-68};
  --cr-tertiary-light-69: #{$cr-tertiary-light-69};
  --cr-tertiary-light-70: #{$cr-tertiary-light-70};
  --cr-tertiary-light-71: #{$cr-tertiary-light-71};
  --cr-tertiary-light-72: #{$cr-tertiary-light-72};
  --cr-tertiary-light-73: #{$cr-tertiary-light-73};
  --cr-tertiary-light-74: #{$cr-tertiary-light-74};
  --cr-tertiary-light-75: #{$cr-tertiary-light-75};
  --cr-tertiary-light-76: #{$cr-tertiary-light-76};
  --cr-tertiary-light-77: #{$cr-tertiary-light-77};
  --cr-tertiary-light-78: #{$cr-tertiary-light-78};
  --cr-tertiary-light-79: #{$cr-tertiary-light-79};
  --cr-tertiary-light-80: #{$cr-tertiary-light-80};
  --cr-tertiary-light-81: #{$cr-tertiary-light-81};
  --cr-tertiary-light-82: #{$cr-tertiary-light-82};
  --cr-tertiary-light-83: #{$cr-tertiary-light-83};
  --cr-tertiary-light-84: #{$cr-tertiary-light-84};
  --cr-tertiary-light-85: #{$cr-tertiary-light-85};
  --cr-tertiary-light-86: #{$cr-tertiary-light-86};
  --cr-tertiary-light-87: #{$cr-tertiary-light-87};
  --cr-tertiary-light-88: #{$cr-tertiary-light-88};
  --cr-tertiary-light-89: #{$cr-tertiary-light-89};
  --cr-tertiary-light-90: #{$cr-tertiary-light-90};
  --cr-tertiary-light-91: #{$cr-tertiary-light-91};
  --cr-tertiary-light-92: #{$cr-tertiary-light-92};
  --cr-tertiary-light-93: #{$cr-tertiary-light-93};
  --cr-tertiary-light-94: #{$cr-tertiary-light-94};
  --cr-tertiary-light-95: #{$cr-tertiary-light-95};
  --cr-tertiary-light-96: #{$cr-tertiary-light-96};
  --cr-tertiary-light-97: #{$cr-tertiary-light-97};
  --cr-tertiary-light-98: #{$cr-tertiary-light-98};
  --cr-tertiary-light-99: #{$cr-tertiary-light-99};
  --cr-tertiary-light-100: #{$cr-tertiary-light-100};

  --cr-tertiary-tone-1: #{$cr-tertiary-tone-1};
  --cr-tertiary-tone-2: #{$cr-tertiary-tone-2};
  --cr-tertiary-tone-3: #{$cr-tertiary-tone-3};
  --cr-tertiary-tone-4: #{$cr-tertiary-tone-4};
  --cr-tertiary-tone-5: #{$cr-tertiary-tone-5};
  --cr-tertiary-tone-6: #{$cr-tertiary-tone-6};
  --cr-tertiary-tone-7: #{$cr-tertiary-tone-7};
  --cr-tertiary-tone-8: #{$cr-tertiary-tone-8};
  --cr-tertiary-tone-9: #{$cr-tertiary-tone-9};
  --cr-tertiary-tone-10: #{$cr-tertiary-tone-10};
  --cr-tertiary-tone-11: #{$cr-tertiary-tone-11};
  --cr-tertiary-tone-12: #{$cr-tertiary-tone-12};
  --cr-tertiary-tone-13: #{$cr-tertiary-tone-13};
  --cr-tertiary-tone-14: #{$cr-tertiary-tone-14};
  --cr-tertiary-tone-15: #{$cr-tertiary-tone-15};
  --cr-tertiary-tone-16: #{$cr-tertiary-tone-16};
  --cr-tertiary-tone-17: #{$cr-tertiary-tone-17};
  --cr-tertiary-tone-18: #{$cr-tertiary-tone-18};
  --cr-tertiary-tone-19: #{$cr-tertiary-tone-19};
  --cr-tertiary-tone-20: #{$cr-tertiary-tone-20};
  --cr-tertiary-tone-21: #{$cr-tertiary-tone-21};
  --cr-tertiary-tone-22: #{$cr-tertiary-tone-22};
  --cr-tertiary-tone-23: #{$cr-tertiary-tone-23};
  --cr-tertiary-tone-24: #{$cr-tertiary-tone-24};
  --cr-tertiary-tone-25: #{$cr-tertiary-tone-25};
  --cr-tertiary-tone-26: #{$cr-tertiary-tone-26};
  --cr-tertiary-tone-27: #{$cr-tertiary-tone-27};
  --cr-tertiary-tone-28: #{$cr-tertiary-tone-28};
  --cr-tertiary-tone-29: #{$cr-tertiary-tone-29};
  --cr-tertiary-tone-30: #{$cr-tertiary-tone-30};
  --cr-tertiary-tone-31: #{$cr-tertiary-tone-31};
  --cr-tertiary-tone-32: #{$cr-tertiary-tone-32};
  --cr-tertiary-tone-33: #{$cr-tertiary-tone-33};
  --cr-tertiary-tone-34: #{$cr-tertiary-tone-34};
  --cr-tertiary-tone-35: #{$cr-tertiary-tone-35};
  --cr-tertiary-tone-36: #{$cr-tertiary-tone-36};
  --cr-tertiary-tone-37: #{$cr-tertiary-tone-37};
  --cr-tertiary-tone-38: #{$cr-tertiary-tone-38};
  --cr-tertiary-tone-39: #{$cr-tertiary-tone-39};
  --cr-tertiary-tone-40: #{$cr-tertiary-tone-40};
  --cr-tertiary-tone-41: #{$cr-tertiary-tone-41};
  --cr-tertiary-tone-42: #{$cr-tertiary-tone-42};
  --cr-tertiary-tone-43: #{$cr-tertiary-tone-43};
  --cr-tertiary-tone-44: #{$cr-tertiary-tone-44};
  --cr-tertiary-tone-45: #{$cr-tertiary-tone-45};
  --cr-tertiary-tone-46: #{$cr-tertiary-tone-46};
  --cr-tertiary-tone-47: #{$cr-tertiary-tone-47};
  --cr-tertiary-tone-48: #{$cr-tertiary-tone-48};
  --cr-tertiary-tone-49: #{$cr-tertiary-tone-49};
  --cr-tertiary-tone-50: #{$cr-tertiary-tone-50};
  --cr-tertiary-tone-51: #{$cr-tertiary-tone-51};
  --cr-tertiary-tone-52: #{$cr-tertiary-tone-52};
  --cr-tertiary-tone-53: #{$cr-tertiary-tone-53};
  --cr-tertiary-tone-54: #{$cr-tertiary-tone-54};
  --cr-tertiary-tone-55: #{$cr-tertiary-tone-55};
  --cr-tertiary-tone-56: #{$cr-tertiary-tone-56};
  --cr-tertiary-tone-57: #{$cr-tertiary-tone-57};
  --cr-tertiary-tone-58: #{$cr-tertiary-tone-58};
  --cr-tertiary-tone-59: #{$cr-tertiary-tone-59};
  --cr-tertiary-tone-60: #{$cr-tertiary-tone-60};
  --cr-tertiary-tone-61: #{$cr-tertiary-tone-61};
  --cr-tertiary-tone-62: #{$cr-tertiary-tone-62};
  --cr-tertiary-tone-63: #{$cr-tertiary-tone-63};
  --cr-tertiary-tone-64: #{$cr-tertiary-tone-64};
  --cr-tertiary-tone-65: #{$cr-tertiary-tone-65};
  --cr-tertiary-tone-66: #{$cr-tertiary-tone-66};
  --cr-tertiary-tone-67: #{$cr-tertiary-tone-67};
  --cr-tertiary-tone-68: #{$cr-tertiary-tone-68};
  --cr-tertiary-tone-69: #{$cr-tertiary-tone-69};
  --cr-tertiary-tone-70: #{$cr-tertiary-tone-70};
  --cr-tertiary-tone-71: #{$cr-tertiary-tone-71};
  --cr-tertiary-tone-72: #{$cr-tertiary-tone-72};
  --cr-tertiary-tone-73: #{$cr-tertiary-tone-73};
  --cr-tertiary-tone-74: #{$cr-tertiary-tone-74};
  --cr-tertiary-tone-75: #{$cr-tertiary-tone-75};
  --cr-tertiary-tone-76: #{$cr-tertiary-tone-76};
  --cr-tertiary-tone-77: #{$cr-tertiary-tone-77};
  --cr-tertiary-tone-78: #{$cr-tertiary-tone-78};
  --cr-tertiary-tone-79: #{$cr-tertiary-tone-79};
  --cr-tertiary-tone-80: #{$cr-tertiary-tone-80};
  --cr-tertiary-tone-81: #{$cr-tertiary-tone-81};
  --cr-tertiary-tone-82: #{$cr-tertiary-tone-82};
  --cr-tertiary-tone-83: #{$cr-tertiary-tone-83};
  --cr-tertiary-tone-84: #{$cr-tertiary-tone-84};
  --cr-tertiary-tone-85: #{$cr-tertiary-tone-85};
  --cr-tertiary-tone-86: #{$cr-tertiary-tone-86};
  --cr-tertiary-tone-87: #{$cr-tertiary-tone-87};
  --cr-tertiary-tone-88: #{$cr-tertiary-tone-88};
  --cr-tertiary-tone-89: #{$cr-tertiary-tone-89};
  --cr-tertiary-tone-90: #{$cr-tertiary-tone-90};
  --cr-tertiary-tone-91: #{$cr-tertiary-tone-91};
  --cr-tertiary-tone-92: #{$cr-tertiary-tone-92};
  --cr-tertiary-tone-93: #{$cr-tertiary-tone-93};
  --cr-tertiary-tone-94: #{$cr-tertiary-tone-94};
  --cr-tertiary-tone-95: #{$cr-tertiary-tone-95};
  --cr-tertiary-tone-96: #{$cr-tertiary-tone-96};
  --cr-tertiary-tone-97: #{$cr-tertiary-tone-97};
  --cr-tertiary-tone-98: #{$cr-tertiary-tone-98};
  --cr-tertiary-tone-99: #{$cr-tertiary-tone-99};
  --cr-tertiary-tone-100: #{$cr-tertiary-tone-100};

  --cr-tertiary-dark-1: #{$cr-tertiary-dark-1};
  --cr-tertiary-dark-2: #{$cr-tertiary-dark-2};
  --cr-tertiary-dark-3: #{$cr-tertiary-dark-3};
  --cr-tertiary-dark-4: #{$cr-tertiary-dark-4};
  --cr-tertiary-dark-5: #{$cr-tertiary-dark-5};
  --cr-tertiary-dark-6: #{$cr-tertiary-dark-6};
  --cr-tertiary-dark-7: #{$cr-tertiary-dark-7};
  --cr-tertiary-dark-8: #{$cr-tertiary-dark-8};
  --cr-tertiary-dark-9: #{$cr-tertiary-dark-9};
  --cr-tertiary-dark-10: #{$cr-tertiary-dark-10};
  --cr-tertiary-dark-11: #{$cr-tertiary-dark-11};
  --cr-tertiary-dark-12: #{$cr-tertiary-dark-12};
  --cr-tertiary-dark-13: #{$cr-tertiary-dark-13};
  --cr-tertiary-dark-14: #{$cr-tertiary-dark-14};
  --cr-tertiary-dark-15: #{$cr-tertiary-dark-15};
  --cr-tertiary-dark-16: #{$cr-tertiary-dark-16};
  --cr-tertiary-dark-17: #{$cr-tertiary-dark-17};
  --cr-tertiary-dark-18: #{$cr-tertiary-dark-18};
  --cr-tertiary-dark-19: #{$cr-tertiary-dark-19};
  --cr-tertiary-dark-20: #{$cr-tertiary-dark-20};
  --cr-tertiary-dark-21: #{$cr-tertiary-dark-21};
  --cr-tertiary-dark-22: #{$cr-tertiary-dark-22};
  --cr-tertiary-dark-23: #{$cr-tertiary-dark-23};
  --cr-tertiary-dark-24: #{$cr-tertiary-dark-24};
  --cr-tertiary-dark-25: #{$cr-tertiary-dark-25};
  --cr-tertiary-dark-26: #{$cr-tertiary-dark-26};
  --cr-tertiary-dark-27: #{$cr-tertiary-dark-27};
  --cr-tertiary-dark-28: #{$cr-tertiary-dark-28};
  --cr-tertiary-dark-29: #{$cr-tertiary-dark-29};
  --cr-tertiary-dark-30: #{$cr-tertiary-dark-30};
  --cr-tertiary-dark-31: #{$cr-tertiary-dark-31};
  --cr-tertiary-dark-32: #{$cr-tertiary-dark-32};
  --cr-tertiary-dark-33: #{$cr-tertiary-dark-33};
  --cr-tertiary-dark-34: #{$cr-tertiary-dark-34};
  --cr-tertiary-dark-35: #{$cr-tertiary-dark-35};
  --cr-tertiary-dark-36: #{$cr-tertiary-dark-36};
  --cr-tertiary-dark-37: #{$cr-tertiary-dark-37};
  --cr-tertiary-dark-38: #{$cr-tertiary-dark-38};
  --cr-tertiary-dark-39: #{$cr-tertiary-dark-39};
  --cr-tertiary-dark-40: #{$cr-tertiary-dark-40};
  --cr-tertiary-dark-41: #{$cr-tertiary-dark-41};
  --cr-tertiary-dark-42: #{$cr-tertiary-dark-42};
  --cr-tertiary-dark-43: #{$cr-tertiary-dark-43};
  --cr-tertiary-dark-44: #{$cr-tertiary-dark-44};
  --cr-tertiary-dark-45: #{$cr-tertiary-dark-45};
  --cr-tertiary-dark-46: #{$cr-tertiary-dark-46};
  --cr-tertiary-dark-47: #{$cr-tertiary-dark-47};
  --cr-tertiary-dark-48: #{$cr-tertiary-dark-48};
  --cr-tertiary-dark-49: #{$cr-tertiary-dark-49};
  --cr-tertiary-dark-50: #{$cr-tertiary-dark-50};
  --cr-tertiary-dark-51: #{$cr-tertiary-dark-51};
  --cr-tertiary-dark-52: #{$cr-tertiary-dark-52};
  --cr-tertiary-dark-53: #{$cr-tertiary-dark-53};
  --cr-tertiary-dark-54: #{$cr-tertiary-dark-54};
  --cr-tertiary-dark-55: #{$cr-tertiary-dark-55};
  --cr-tertiary-dark-56: #{$cr-tertiary-dark-56};
  --cr-tertiary-dark-57: #{$cr-tertiary-dark-57};
  --cr-tertiary-dark-58: #{$cr-tertiary-dark-58};
  --cr-tertiary-dark-59: #{$cr-tertiary-dark-59};
  --cr-tertiary-dark-60: #{$cr-tertiary-dark-60};
  --cr-tertiary-dark-61: #{$cr-tertiary-dark-61};
  --cr-tertiary-dark-62: #{$cr-tertiary-dark-62};
  --cr-tertiary-dark-63: #{$cr-tertiary-dark-63};
  --cr-tertiary-dark-64: #{$cr-tertiary-dark-64};
  --cr-tertiary-dark-65: #{$cr-tertiary-dark-65};
  --cr-tertiary-dark-66: #{$cr-tertiary-dark-66};
  --cr-tertiary-dark-67: #{$cr-tertiary-dark-67};
  --cr-tertiary-dark-68: #{$cr-tertiary-dark-68};
  --cr-tertiary-dark-69: #{$cr-tertiary-dark-69};
  --cr-tertiary-dark-70: #{$cr-tertiary-dark-70};
  --cr-tertiary-dark-71: #{$cr-tertiary-dark-71};
  --cr-tertiary-dark-72: #{$cr-tertiary-dark-72};
  --cr-tertiary-dark-73: #{$cr-tertiary-dark-73};
  --cr-tertiary-dark-74: #{$cr-tertiary-dark-74};
  --cr-tertiary-dark-75: #{$cr-tertiary-dark-75};
  --cr-tertiary-dark-76: #{$cr-tertiary-dark-76};
  --cr-tertiary-dark-77: #{$cr-tertiary-dark-77};
  --cr-tertiary-dark-78: #{$cr-tertiary-dark-78};
  --cr-tertiary-dark-79: #{$cr-tertiary-dark-79};
  --cr-tertiary-dark-80: #{$cr-tertiary-dark-80};
  --cr-tertiary-dark-81: #{$cr-tertiary-dark-81};
  --cr-tertiary-dark-82: #{$cr-tertiary-dark-82};
  --cr-tertiary-dark-83: #{$cr-tertiary-dark-83};
  --cr-tertiary-dark-84: #{$cr-tertiary-dark-84};
  --cr-tertiary-dark-85: #{$cr-tertiary-dark-85};
  --cr-tertiary-dark-86: #{$cr-tertiary-dark-86};
  --cr-tertiary-dark-87: #{$cr-tertiary-dark-87};
  --cr-tertiary-dark-88: #{$cr-tertiary-dark-88};
  --cr-tertiary-dark-89: #{$cr-tertiary-dark-89};
  --cr-tertiary-dark-90: #{$cr-tertiary-dark-90};
  --cr-tertiary-dark-91: #{$cr-tertiary-dark-91};
  --cr-tertiary-dark-92: #{$cr-tertiary-dark-92};
  --cr-tertiary-dark-93: #{$cr-tertiary-dark-93};
  --cr-tertiary-dark-94: #{$cr-tertiary-dark-94};
  --cr-tertiary-dark-95: #{$cr-tertiary-dark-95};
  --cr-tertiary-dark-96: #{$cr-tertiary-dark-96};
  --cr-tertiary-dark-97: #{$cr-tertiary-dark-97};
  --cr-tertiary-dark-98: #{$cr-tertiary-dark-98};
  --cr-tertiary-dark-99: #{$cr-tertiary-dark-99};
  --cr-tertiary-dark-100: #{$cr-tertiary-dark-100};
}
