@import "variables";

:root {
  --cr-tertiary: #{$cr-tertiary};

  --cr-tertiary-light-5: #{$cr-tertiary-light-5};
  --cr-tertiary-light-10: #{$cr-tertiary-light-10};
  --cr-tertiary-light-15: #{$cr-tertiary-light-15};
  --cr-tertiary-light-20: #{$cr-tertiary-light-20};
  --cr-tertiary-light-25: #{$cr-tertiary-light-25};
  --cr-tertiary-light-30: #{$cr-tertiary-light-30};
  --cr-tertiary-light-35: #{$cr-tertiary-light-35};
  --cr-tertiary-light-40: #{$cr-tertiary-light-40};
  --cr-tertiary-light-45: #{$cr-tertiary-light-45};
  --cr-tertiary-light-50: #{$cr-tertiary-light-50};
  --cr-tertiary-light-55: #{$cr-tertiary-light-55};
  --cr-tertiary-light-60: #{$cr-tertiary-light-60};
  --cr-tertiary-light-65: #{$cr-tertiary-light-65};
  --cr-tertiary-light-70: #{$cr-tertiary-light-70};
  --cr-tertiary-light-75: #{$cr-tertiary-light-75};
  --cr-tertiary-light-80: #{$cr-tertiary-light-80};
  --cr-tertiary-light-85: #{$cr-tertiary-light-85};
  --cr-tertiary-light-90: #{$cr-tertiary-light-90};
  --cr-tertiary-light-95: #{$cr-tertiary-light-95};
  --cr-tertiary-light-100: #{$cr-tertiary-light-100};

  --cr-tertiary-tone-5: #{$cr-tertiary-tone-5};
  --cr-tertiary-tone-10: #{$cr-tertiary-tone-10};
  --cr-tertiary-tone-15: #{$cr-tertiary-tone-15};
  --cr-tertiary-tone-20: #{$cr-tertiary-tone-20};
  --cr-tertiary-tone-25: #{$cr-tertiary-tone-25};
  --cr-tertiary-tone-30: #{$cr-tertiary-tone-30};
  --cr-tertiary-tone-35: #{$cr-tertiary-tone-35};
  --cr-tertiary-tone-40: #{$cr-tertiary-tone-40};
  --cr-tertiary-tone-45: #{$cr-tertiary-tone-45};
  --cr-tertiary-tone-50: #{$cr-tertiary-tone-50};
  --cr-tertiary-tone-55: #{$cr-tertiary-tone-55};
  --cr-tertiary-tone-60: #{$cr-tertiary-tone-60};
  --cr-tertiary-tone-65: #{$cr-tertiary-tone-65};
  --cr-tertiary-tone-70: #{$cr-tertiary-tone-70};
  --cr-tertiary-tone-75: #{$cr-tertiary-tone-75};
  --cr-tertiary-tone-80: #{$cr-tertiary-tone-80};
  --cr-tertiary-tone-85: #{$cr-tertiary-tone-85};
  --cr-tertiary-tone-90: #{$cr-tertiary-tone-90};
  --cr-tertiary-tone-95: #{$cr-tertiary-tone-95};
  --cr-tertiary-tone-100: #{$cr-tertiary-tone-100};

  --cr-tertiary-dark-5: #{$cr-tertiary-dark-5};
  --cr-tertiary-dark-10: #{$cr-tertiary-dark-10};
  --cr-tertiary-dark-15: #{$cr-tertiary-dark-15};
  --cr-tertiary-dark-20: #{$cr-tertiary-dark-20};
  --cr-tertiary-dark-25: #{$cr-tertiary-dark-25};
  --cr-tertiary-dark-30: #{$cr-tertiary-dark-30};
  --cr-tertiary-dark-35: #{$cr-tertiary-dark-35};
  --cr-tertiary-dark-40: #{$cr-tertiary-dark-40};
  --cr-tertiary-dark-45: #{$cr-tertiary-dark-45};
  --cr-tertiary-dark-50: #{$cr-tertiary-dark-50};
  --cr-tertiary-dark-55: #{$cr-tertiary-dark-55};
  --cr-tertiary-dark-60: #{$cr-tertiary-dark-60};
  --cr-tertiary-dark-65: #{$cr-tertiary-dark-65};
  --cr-tertiary-dark-70: #{$cr-tertiary-dark-70};
  --cr-tertiary-dark-75: #{$cr-tertiary-dark-75};
  --cr-tertiary-dark-80: #{$cr-tertiary-dark-80};
  --cr-tertiary-dark-85: #{$cr-tertiary-dark-85};
  --cr-tertiary-dark-90: #{$cr-tertiary-dark-90};
  --cr-tertiary-dark-95: #{$cr-tertiary-dark-95};
  --cr-tertiary-dark-100: #{$cr-tertiary-dark-100};
}
