@import "variables";

:root {
  --cr-tertiary: #{$cr-tertiary};

  --cr-tertiary-light-10: #{$cr-tertiary-light-10};
  --cr-tertiary-light-20: #{$cr-tertiary-light-20};
  --cr-tertiary-light-30: #{$cr-tertiary-light-30};
  --cr-tertiary-light-40: #{$cr-tertiary-light-40};
  --cr-tertiary-light-50: #{$cr-tertiary-light-50};
  --cr-tertiary-light-60: #{$cr-tertiary-light-60};
  --cr-tertiary-light-70: #{$cr-tertiary-light-70};
  --cr-tertiary-light-80: #{$cr-tertiary-light-80};
  --cr-tertiary-light-90: #{$cr-tertiary-light-90};
  --cr-tertiary-light-100: #{$cr-tertiary-light-100};

  --cr-tertiary-tone-10: #{$cr-tertiary-tone-10};
  --cr-tertiary-tone-20: #{$cr-tertiary-tone-20};
  --cr-tertiary-tone-30: #{$cr-tertiary-tone-30};
  --cr-tertiary-tone-40: #{$cr-tertiary-tone-40};
  --cr-tertiary-tone-50: #{$cr-tertiary-tone-50};
  --cr-tertiary-tone-60: #{$cr-tertiary-tone-60};
  --cr-tertiary-tone-70: #{$cr-tertiary-tone-70};
  --cr-tertiary-tone-80: #{$cr-tertiary-tone-80};
  --cr-tertiary-tone-90: #{$cr-tertiary-tone-90};
  --cr-tertiary-tone-100: #{$cr-tertiary-tone-100};

  --cr-tertiary-dark-10: #{$cr-tertiary-dark-10};
  --cr-tertiary-dark-20: #{$cr-tertiary-dark-20};
  --cr-tertiary-dark-30: #{$cr-tertiary-dark-30};
  --cr-tertiary-dark-40: #{$cr-tertiary-dark-40};
  --cr-tertiary-dark-50: #{$cr-tertiary-dark-50};
  --cr-tertiary-dark-60: #{$cr-tertiary-dark-60};
  --cr-tertiary-dark-70: #{$cr-tertiary-dark-70};
  --cr-tertiary-dark-80: #{$cr-tertiary-dark-80};
  --cr-tertiary-dark-90: #{$cr-tertiary-dark-90};
  --cr-tertiary-dark-100: #{$cr-tertiary-dark-100};
}
